.container-registro-detalle-venta {
  box-shadow: 0 0 10px #171a1f33;
  background-color: #171a1f09 !important;
  border-radius: 10px;
}

.div-pagar-1 {
  width: 26.5rem !important;
}

.modal-prod {
  box-shadow: 0 0 10px #171a1f33;
  background-color: #ededed;
  animation: fadeIn 0.3s ease-in-out; 

}

.modal-pagar {
  box-shadow: 0 0 10px #171a1f33;
  background-color: #efefef;
  animation: fadeIn 0.3s ease-in-out; 

}

.modal-prod hr, .modal-pagar hr {
  border: solid 0.1rem #bdbdbd !important;
}

.close-modal-prod, .close-modal-pagar {
  background-color: #e05858ff;
  font-size: 20px;
}

.btn-nuevo-cliente {
  background-color: #4069e5ff;
  color: white;
  font-weight: bold;
  align-items: center;
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
}
.button-tipo-prendas button {
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s, border-width 0.3s; /* Transición suave para color y ancho del borde */
  color: black;
}

.button-tipo-prendas button:hover {
  color: #00bdd6;
  box-shadow: 0px 3px 0px 0px #00bdd6; /* Crea una sombra en la parte inferior */
  border-radius: 0px;
}

.btn-producto {
  background-color: #4069e5ff;
  color: white;
  font-weight: 500;
  align-items: center;
}

.btn-producto:hover {
  background-color: #2655e1ff;
}

.spinner {
  display: flex;
  align-items: center;
}

.spinner button {
  padding: 0;
  width: 24px; /* Adjust the size as needed */
  height: 24px; /* Adjust the size as needed */
  border: none;
  background-color: #f0f0f0; /* Base color */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner button.decrement {
  background-color: #e0585842;
  border: solid 3px #e05858;
  color: #d22929;
  font-weight: bold;
}

.spinner button.increment {
  background-color: #58c9e042;
  border: solid 3px #58c9e0;
  color: #33bcce;
  font-weight: bold;
}

.spinner button:active {
  transform: scale(0.95);
}

.spinner span {
  margin: 0px;
}

.inputs-montos {
  background-color: rgb(255, 255, 255);
  padding: 6px 16px;
  border: solid 2px #a2a2a2;
  border-radius: 5px;
  width: 8.5rem;
}

.span-title {
  width: 7rem;
}

.btn-cobrar, .btn-aceptar-cliente {
  background-color: #379AE6FF;
  color: white;
  font-weight: 500;
  align-items: center;
}

.btn-cobrar:hover, .btn-aceptar-cliente:hover {
  background-color: #1f7db9ff;
}

.btn-cerrar {
  background-color: #e05858ff;
  color: white;
  font-weight: 500;
  align-items: center;
}

.btn-cerrar:hover {
  background-color: #d22929ff;
}

.btn-cotizar {
  background-color: rgb(4, 187, 86, 0.8);
  color: white;
  font-weight: 500;
  align-items: center;
} 

.btn-cotizar:hover {
  background-color: rgb(4, 187, 86);
}



/* Animación de entrada del modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}