.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .content-modal {
    background: #fff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 800px;  /* Ajuste para que el modal sea más extenso */
    width: 90%;
    height: auto !important;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
  
  .modal-title {
    font-size: 2.3rem;
    font-weight: bold;
    color: black;
  }
  
  .modal-close {
    cursor: pointer;
    color: #6d6d6d !important;
    padding: 0 !important;
  }
  
  .modal-body {
    padding-top: 15px;
    width: 100% !important;
  }
  
  .modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px; /* Añadir margen superior para separar los botones de la tabla */
  }
  
  /* Animación de entrada del modal */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  