# Entorno virtual
venv/
env/
.venv/
.pyenv/
__pycache__/
*.py[cod]
*.pyo

# Variables de entorno y configuraciones locales
.env
.env.*

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de log
*.log
*.pot
*.pyc

# Bases de datos SQLite
*.sqlite3
*.db

# Carpetas de cache
instance/
.cache/
*.egg-info/
dist/
build/

# Archivos relacionados a distribuciones
*.egg
*.egg-info
.eggs/
MANIFEST

# Archivos generados por pip
pip-log.txt

# Archivos generados por pytest
.pytest_cache/

# Archivos generados por Jupyter Notebook
.ipynb_checkpoints/

# Archivos de distribución
*.tar.gz
*.whl
*.zip

config.py

# Ignorar la carpeta de imágenes subidas
static/img/

app/static/PDF/