.input {
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.btn-nueva-venta,
.btn-filtrar {
  background-color: #00bdd6ff;
  color: white;
  font-weight: 500;
  align-items: center;
}

.btn-nueva-venta:hover,
.btn-filtrar:hover {
  background-color: rgb(3, 158, 179);
}

.btn-exportar,
.btn-resetear {
  background-color: rgba(0, 0, 0, 0.481);
  color: white;
  font-weight: 500;
  align-items: center;
}

.btn-exportar:hover,
.btn-resetear:hover {
  background-color: rgba(0, 0, 0, 0.612);
}

.input-wrapper {
  align-items: center;
}

.label {
  margin-right: 5px;
}

.btn-pagination {
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
}

.btn-pagination:hover {
  background-color: #eaeaeae3;
  border-radius: 5px;
}

.cant-pag {
  padding: 0.25rem 1rem;
  background-color: #eaeaeae3;
}

/**TABLA**/

h6 {
  color: #323842ff;
}



.estado-activo {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 0.85em !important;
  font-size: 80%;
  font-weight: 600;
  border-radius: 9999px;
  color: #117B34;
  background-color: #EEFDF3;
}

.estado-inactivo {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 0.85em !important;
  font-size: 80%;
  font-weight: 700;
  border-radius: 9999px;
  color: #E05858;
  background-color: #FDF2F2;
}
/**Modal**/


/** Tabla detalle **/

.container-table-details {
  box-shadow: 0 0 10px #171a1f33;
  background-color: #171a1f09 !important;
  border-radius: 10px;
}


.table-details td {
  border-top: solid 3px #1f1a170e;
  padding: 10px 0px;
  align-items: center !important;
}
.input-buscar {
  margin-left: 5px;
}

