{% extends 'base.html' %}

{% block title %}Tormenta {% endblock %}

{% from 'breadcrumb.html' import breadcrumb %}

{% block content %}
<header class="mb-4">
    {{ breadcrumb([
        {'label': 'Inicio', 'url': url_for('transaccional.index'), 'icon': 'M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0
        001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0
        001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z'},
        {'label': 'Compras', 'url': url_for('transaccional.index')}
        ]) }}
    <h1 class="text-8xl font-bold tracking-wide text-gray-700 title-Inicio">MÓDULO COMPRAS</h1>
</header>

<style>
    table {
        border-collapse: separate;
        border-spacing: 0 8px;
        width: 100%;
        height: 100%;
    }

    table th,
    table td {
        font-weight: normal;
        color: #6c757d;
        border-bottom: 1px solid #dee2e6;
        padding: 30px 20px;
        vertical-align: middle;
    }

    table td {
        background-color: #f8f9fa;
        border-bottom: 2px solid white;
    }

    table tbody tr {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }

    /* Botón desplegable */
    .dropdown-toggle {
        border-radius: 8px;
        padding: 5px 10px;
        background-color: #e7f1ff;
        color: #007bff;
        border: 1px solid #007bff;
    }

    .dropdown-toggle:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }

    .estado-activo {
        background-color: #eafff0;
        color: #28a745;
        padding: 5px 15px;
        border-radius: 12px;
        font-weight: bold;
        text-align: center;
    }

    /* Alineación de acciones */
    .accion-dropdown {
        text-align: center;
    }

    .centrar {
        text-align: center;
    }
</style>

<!-- Tabs de Reporte -->
<div class="mb-4">
    <div class="nav nav-tabs">
        <a class="nav-item nav-link active" href="#compra" data-toggle="tab">
            <i class="fas fa-door-closed"></i> Compra productos
        </a>
    </div>
</div>

<div class="tab-content">
    <!-- Inventario -->
    <div class="tab-pane fade" id="compra">
        <!-- Detalles -->
        <div class="mb-4">
            <hr>
            <p class="text-muted" style="font-size: 14px;">
                Consulta las ventas realizadas en el sistema.
            </p>
        </div>
    </div>

    <div class="tab-pane fade show active" id="compra">
        <div class="mb-4">
            <hr>
            <p class="text-muted" style="font-size: 14px;">
                Podrás visualizar y registrar los productos comprados por proveedor.
            </p>
        </div>

    </div>

    <form>
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="mt-2"><b>Proveedor:</b></h6>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" aria-label="Default select example" id="provider">
                            <option selected>Seleccione...</option>
                            <option value="1">CORPORACION 1</option>
                            <option value="2">CORPORACION 2</option>
                            <option value="3">CORPORACION 3</option>
                            <option value="4">CORPORACION 4</option>
                            <option value="5">CORPORACION 5</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <h6 class="mt-2"><b>Tipo Comprobante:</b></h6>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" aria-label="Default select example" id="tipoComprobante">
                            <option selected>BOLETA</option>
                            <option value="1">FACTURA</option>
                            <option value="2">???</option>
                            <!-- <option value="3">CORPORACION 3</option>
                            <option value="4">CORPORACION 4</option>
                            <option value="5">CORPORACION 5</option> -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h6 class="mt-2"><b>Nro. Comprobante:</b></h6>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <!-- <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span> -->
                            <input type="text" class="form-control" placeholder="B000-000000" aria-label="razonsosial"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center" style="margin-top: 10px;">
            <div class="col-lg-3">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <h6 class="mt-2"><b>Forma de Pago:</b></h6>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" aria-label="Default select example" id="formaPago">
                            <option selected>CONTADO</option>
                            <option value="1">???</option>
                            <option value="2">???</option>
                            <!-- <option value="3">CORPORACION 3</option>
                        <option value="4">CORPORACION 4</option>
                        <option value="5">CORPORACION 5</option> -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <h6 class="mt-2"><b>Sucursal:</b></h6>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" aria-label="Default select example" id="sucursal">
                            <option selected>TIENDA PRINCIPAL</option>
                            <option value="1">???</option>
                            <option value="2">???</option>
                            <!-- <option value="3">CORPORACION 3</option>
                            <option value="4">CORPORACION 4</option>
                            <option value="5">CORPORACION 5</option> -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="mt-2"><b>Almacen:</b></h6>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" aria-label="Default select example" id="almacen">
                            <option selected>PRINCIPAL</option>
                            <option value="1">???</option>
                            <option value="2">???</option>
                            <!-- <option value="3">CORPORACION 3</option>
                            <option value="4">CORPORACION 4</option>
                            <option value="5">CORPORACION 5</option> -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <h6 class="mt-2"><b>Fecha:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group input-group-md">
                            <input type="date" class="form-control" id="date">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------>
        <div class="row" style="margin-bottom: 7%;">
            <div class="container mt-4">
                <div class="d-flex align-items-center me-2 mb-2">
                    <div class="input-group flex-grow-1" style="max-width: 50%;">
                        <input type="text" class="form-control" placeholder="Buscar un producto aquí..."
                            aria-label="Buscar">
                    </div>
                </div>
                <div class="table-container mt-4">
                    <div class="table-scroll">
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-center">ID COMPRA</th>
                                    <th class="text-center">RAZÓN SOCIAL</th>
                                    <th class="text-center">FECHA DE COMPRA</th>
                                    <th class="text-center">SUBCATEGORÍA</th>
                                    <th class="text-center">SUBTOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dato in compras %}
                                <tr>
                                    <td class="text-center">{{data.id_compra}}</td>
                                    <td class="text-center">{{data.razon_social}}</td>
                                    <td class="text-center">{{data.fecha_compra}}</td>
                                    <td class="text-center">{{data.nom_subcat}}</td>
                                    <td class="text-center">{{data.subtotal}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-10">
                        </div>
                        <div class="col-lg-2 mt-4 text-end">
                            <button class="btn btn-success" style="width: 100%;">Guardar Compra</button>
                        </div>
                    </div>
                </div>
                <!-- Paginación -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-3">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&gt;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>

    <!-- Sistema Contable -->
    <div class="tab-pane fade" id="siscon">
        <!-- Detalles -->
        <div class="mb-4">
            <hr>
            <p class="text-muted" style="font-size: 14px;">
                Podrás visualizar y registrar las notas de salidas.
            </p>
        </div>
    </div>
</div>
</div>

{% endblock %}