{% extends 'base.html' %}

{% block title %}Tormenta {% endblock %}


{% block content %}
<header class="mb-4">
    <h1 class="text-8xl font-bold tracking-wide text-gray-700 title-Inicio">MÓDULO COMPRAS</h1>
</header>

<style>
    table {
        border-collapse: separate;
        border-spacing: 0 8px;
        width: 100%;
        height: 100%;
    }

    table th,
    table td {
        font-weight: normal;
        color: #6c757d;
        border-bottom: 1px solid #dee2e6;
        padding: 30px 20px;
        vertical-align: middle;
    }

    table td {
        background-color: #f8f9fa;
        border-bottom: 2px solid white;
    }

    table tbody tr {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }



    .dropdown-toggle:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }

    .estado-activo {
        background-color: #eafff0;
        color: #28a745;
        padding: 5px 15px;
        border-radius: 12px;
        font-weight: bold;
        text-align: center;
    }

    /* Alineación de acciones */
    .accion-dropdown {
        text-align: center;
    }

    .centrar {
        text-align: center;
    }
</style>

<div class="mb-4">
    <div class="nav nav-tabs">
        <a class="nav-item nav-link active" href="#listacompras" data-bs-toggle="tab">
            <i class="fas fa-shopping-cart"></i> Lista de Compras
        </a>
        <a class="nav-item nav-link" href="#compranueva" data-bs-toggle="tab">
            <i class="fas fa-shopping-cart"></i> Nueva Compra
        </a>
    </div>
</div>

<div class="tab-content">
    <div class="tab-pane fade show active" id="listacompras">
        <div class="accordion accordion-flush mb-5" id="accordionCompras">
            {% for id_compra, compra in compras.items() %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ id_compra }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ id_compra }}" aria-expanded="false"
                        aria-controls="collapse{{ id_compra }}">
                        <span style="font-size: 1.1em; font-weight: bold;">Compra Nº {{ id_compra }}</span>
                        <div class="mt-1 ms-5" style="font-size: 0.9em;">
                            <b>F. Compra:</b> {{ compra.f_compra }}<br>
                            <b>Monto Total:</b> S/ {{ compra.monto_total | round(2) if compra.monto_total is not none
                            else 'No disponible' }}
                        </div>
                    </button>
                </h2>
                <div id="collapse{{ id_compra }}" class="accordion-collapse collapse"
                    aria-labelledby="heading{{ id_compra }}" data-bs-parent="#accordionCompras">
                    <div class="accordion-body">
                        <table class="table table-border-light">
                            <thead>
                                <tr>
                                    <th style="font-weight: bold">Producto</th>
                                    <th style="font-weight: bold; text-align: center">Cantidad</th>
                                    <th style="font-weight: bold; text-align: center">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in compra.productos %}
                                <tr class="border-light">
                                    <td>{{ producto.descripcion }}</td>
                                    <td style="text-align: center">{{ producto.cantidad }}</td>
                                    <td style="text-align: center">S/ {{ producto.total | round(2) }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>


    <div class="tab-pane fade" id="compranueva">
        <div class="mb-4">
            <hr>
            <p class="text-muted" style="font-size: 14px;">
                Podrás visualizar y registrar los productos comprados por proveedor.
            </p>
        </div>

        <form id="compraForm" method="post" action="{{ url_for('transaccional.registrar_compra') }}">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <h6 class="mt-2"><b>Proveedor:</b></h6>
                        </div>
                        <div class="col-lg-8">
                            <select class="form-control" aria-label="Default select example" name="proveedor"
                                id="provider">
                                <option selected>Seleccione...</option>
                                {% for proveedor in proveedor %}
                                <option value="{{proveedor.id_proveedor}}">{{proveedor.razon_social}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <h6 class="mt-2"><b>Nro. Comprobante:</b></h6>
                        </div>
                        <div class="col-lg-8">
                            <div>
                                <!-- <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span> -->
                                <input type="text" class="form-control" name="nro_comprobante" placeholder="B000-000000"
                                    aria-label="razonsosial" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <h6 class="mt-2"><b>Forma de Pago:</b></h6>
                        </div>
                        <div class="col-lg-8">
                            <select class="form-control" aria-label="Default select example" name="forma_pago"
                                id="formaPago">
                                <option selected>Seleccione...</option>
                                <option value="1">Efectivo</option>
                                <option value="2">Yape</option>
                                <option value="3">Plin</option>
                                <option value="3">Visa</option>
                                <option value="4">America Express</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center" style="margin-top: 10px;">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <h6 class="mt-2"><b>Almacen:</b></h6>
                        </div>
                        <div class="col-lg-8">
                            <select class="form-control" aria-label="Default select example" name="almacen"
                                id="almacen">
                                <option selected>Seleccione...</option>
                                {% for almacen in almacen %}
                                <option value="1">{{almacen.nom_almacen}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <h6 class="mt-2"><b>Fecha:</b></h6>
                        </div>
                        <div class="col-lg-8">
                            <div class="input-group input-group-md">
                                <input type="date" class="form-control" name="fecha" id="date">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <h6 class="mt-2"><b>Tipo de transaccion:</b></h6>
                        </div>
                        <div class="col-lg-8">
                            <select class="form-control" name="tipos_transaccion" id="tipos_transaccion" aria-label="Default select example">
                                <option selected>Seleccione...</option>
                               {% for transa in tipos_transaccion %}
                               <option value="{{transa.nombre}}">{{transa.nombre}}</option>
                               {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                </div>
                <div class="col-lg-2 text-end">
                    <button type="button" class="btn btn-success mt-4" style="width: 100%;" data-bs-toggle="modal"
                        data-bs-target="#productModal">Agregar</button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------------------>
            <div class="row" style="margin-bottom: 7%;">
                <div class="container mt-4">
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-center" style="font-weight: bolder;">Producto</th>
                                    <th class="text-center" style="font-weight: bolder;">Cantidad</th>
                                    <th class="text-center" style="font-weight: bolder;">Precio unitario</th>
                                    <th class="text-center" style="font-weight: bolder;">Subtotal</th>
                                    <th class="text-center" style="font-weight: bolder;">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí se agregarán los productos seleccionados del modal -->
                            </tbody>
                        </table>
                    </div>

                    <div class="flex justify-content-end container mt-4">
                        <div class="flex flex-col w-100">
                            <div class="flex justify-between y-1 items-center row justify-content-end">
                                <span class="fw-bolder d-flex align-items-center span-title me-3">IMPORTE</span>
                                <span class="inputs-montos" id="importe">S/. 0.00</span>
                            </div>
                            <div class="flex justify-between my-1 items-center row justify-content-end">
                                <span class="fw-bolder d-flex align-items-center span-title me-3">IGV</span>
                                <span class="inputs-montos">S/. <span id="igvDisplay">0.00</span></span>
                                <input type="hidden" name="igv" id="igv" value="0.00">
                            </div>

                            <div class="flex justify-between my-1 items-center row justify-content-end">
                                <span class="fw-bolder d-flex align-items-center span-title me-3">TOTAL</span>
                                <span class="inputs-montos">S/. <span id="monto_totalDisplay">0.00</span></span>
                                <input type="hidden" name="monto_total" id="monto_total" value="0.00">
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-lg-10">
                            </div>
                            <div class="col-lg-2 mt-4 text-end">
                                <button type="submit" class="btn btn-success" style="width: 100%;">Guardar
                                    Compra</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

<!-- Modal para Categorias -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ms-3 mt-3 mb-2" id="productModalLabel">Busque y seleccione el producto</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="modalSearchInput" placeholder="Realice la búsqueda del producto por el nombre"
                    class="form-control mb-3" />
                <div style="max-height: 50vh; overflow-y: auto;">
                    <table class="table" id="detalleCompraTable">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody id="productTableBody">
                            {% for producto in datos_inventario %}
                            <tr>
                                <td>{{ producto.nombre }}</td>
                                <td>S/ {{ producto.precio }}</td>
                                <td>{{ producto.stock }}</td>
                                <td><button type="button" class="btn btn-primary btn-seleccionar"
                                        onclick="addToTable('{{ producto.nombre }}', {{ producto.precio }})">Seleccionar</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script>
    // Búsqueda en tiempo real en el modal
    document.getElementById('modalSearchInput').addEventListener('input', function () {
        const filter = this.value.toLowerCase();
        const rows = document.querySelectorAll('#productTableBody tr');

        rows.forEach(row => {
            const nombre = row.querySelector('td:nth-child(1)').textContent.toLowerCase();
            if (nombre.includes(filter)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

    function addToTable(nombre, precio) {
        // Selecciona el cuerpo de la tabla en la clase "table-container"
        const tableBody = document.querySelector(".table-container tbody");

        // Verifica si el producto ya existe en la tabla
        const existingRow = Array.from(tableBody.rows).find(row => row.cells[0].textContent === nombre);

        if (existingRow) {
            // Si el producto ya existe, actualiza la cantidad y el subtotal
            updateQuantity(existingRow, 1, precio);
        } else {
            // Si el producto no existe, crea una nueva fila
            const newRow = document.createElement("tr");
            newRow.innerHTML = `
                <td class="text-center">${nombre}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-danger" onclick="updateQuantity(this.parentElement.parentElement, -1, ${precio})">-</button>
                    <input type="number" class="quantity" value="1" min="1" style="width:50px; text-align:center;">
                    <button type="button" class="btn btn-primary" onclick="updateQuantity(this.parentElement.parentElement, 1, ${precio})">+</button>
                </td>
                <td class="text-center">S/ ${precio.toFixed(2)}</td>
                <td class="text-center subtotal">S/ ${precio.toFixed(2)}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-danger" onclick="removeRow(this)">Eliminar</button>
                </td>
            `;
            tableBody.appendChild(newRow);

            // Agregar listener al campo de entrada de cantidad
            const quantityInput = newRow.querySelector('.quantity');
            quantityInput.addEventListener('input', function() {
                let quantity = parseInt(this.value);
                if (isNaN(quantity) || quantity < 1) {
                    quantity = 1;
                    this.value = quantity;
                }
                // Actualizar el subtotal
                const subtotalElement = newRow.querySelector('.subtotal');
                subtotalElement.textContent = `S/ ${(quantity * precio).toFixed(2)}`;
                updateTotals(); // Actualizar los totales después de cambiar la cantidad
            });
        }
        updateTotals(); // Actualiza los totales después de añadir el producto
    }

    // Función para actualizar la cantidad y el subtotal
    function updateQuantity(row, amount, unitPrice) {
        const quantityInput = row.querySelector('.quantity');
        let quantity = parseInt(quantityInput.value);
        quantity += amount;
        if (quantity < 1) quantity = 1; // Asegurar que la cantidad no sea menor a 1
        quantityInput.value = quantity;

        // Actualizar el subtotal
        const subtotalElement = row.querySelector('.subtotal');
        subtotalElement.textContent = `S/ ${(quantity * unitPrice).toFixed(2)}`;

        updateTotals(); // Actualizar los totales después de cambiar la cantidad
    }

    // Función para eliminar una fila
    function removeRow(button) {
        const row = button.parentElement.parentElement;
        row.remove();
        updateTotals(); // Actualiza los totales después de eliminar una fila
    }

    // Función para actualizar el total y el IGV
    function updateTotals() {
        const tableBody = document.querySelector(".table-container tbody");
        let total = 0;

        // Calcula el total
        Array.from(tableBody.rows).forEach(row => {
            const subtotalText = row.querySelector('.subtotal').textContent;
            const subtotal = parseFloat(subtotalText.replace('S/ ', ''));
            total += subtotal;
        });

        // Calcula el IGV (asumiendo un 18% de IGV)
        const igv = total * 0.18;

        // Actualiza los elementos en el DOM
        document.getElementById('importe').textContent = `S/. ${total.toFixed(2)}`;
        document.getElementById('igvDisplay').textContent = igv.toFixed(2);
        document.getElementById('monto_totalDisplay').textContent = (total + igv).toFixed(2);

        // Actualiza los inputs ocultos
        document.getElementById('igv').value = igv.toFixed(2);
        document.getElementById('monto_total').value = (total + igv).toFixed(2);
    }

    // Función para cerrar el modal
    function closeModal() {
        const modal = document.getElementById('productModal');
        const modalInstance = bootstrap.Modal.getInstance(modal);
        modalInstance.hide();
    }

    // Función para obtener los datos de la tabla de compra
    function getCompraDataTable() {
        const rows = document.querySelectorAll(".table-container tbody tr");
        let data = [];

        rows.forEach(row => {
            let nombre = row.cells[0].textContent;
            let cantidad = row.cells[1].querySelector(".quantity").value;
            let precio = row.cells[2].textContent.replace('S/ ', '');
            let subtotal = row.cells[3].textContent.replace('S/ ', '');

            data.push({
                nombre: nombre,
                cantidad: parseInt(cantidad),
                precio: parseFloat(precio),
                subtotal: parseFloat(subtotal)
            });
        });

        console.log("Datos recopilados de la tabla:", data); // Debugging statement
        return JSON.stringify(data);
    }

    function saveCompraDataToCookie(jsonData) {
        const d = new Date();
        d.setTime(d.getTime() + (24 * 60 * 60 * 1000)); // Expira en 1 día
        let expires = "expires=" + d.toUTCString();
        document.cookie = "compraData=" + jsonData + ";" + expires + ";path=/";
    }

    // Modificar el listener al evento submit del formulario
    document.getElementById('compraForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission
        
        // Initialize errors array to ensure it's cleared on every submit
        let errors = [];
        
        const provider = document.getElementById('provider').value;
        const formaPago = document.getElementById('formaPago').value;
        const almacen = document.getElementById('almacen').value;
        const nroComprobante = document.querySelector('input[name="nro_comprobante"]').value.trim();
        const dateInput = document.getElementById('date').value;
        const tableRows = document.querySelectorAll(".table-container tbody tr");

        // Validate select fields
        if (provider === "Seleccione...") {
            errors.push('Por favor, seleccione un Proveedor.');
        }
        if (formaPago === "Seleccione...") {
            errors.push('Por favor, seleccione una Forma de Pago.');
        }
        if (almacen === "Seleccione...") {
            errors.push('Por favor, seleccione un Almacen.');
        }

        // Validate Nro. Comprobante
        if (!nroComprobante) {
            errors.push('Por favor, ingrese un Nro. Comprobante.');
        }

        // Validate date
        if (!dateInput) {
            errors.push('Por favor, seleccione una Fecha.');
        } else {
            const selectedDate = new Date(dateInput);
            const today = new Date();
            today.setHours(0, 0, 0, 0); // Set to start of the day
            if (selectedDate > today) {
                errors.push('La Fecha no puede ser futura.');
            }
        }

        // Validate table rows
        if (tableRows.length === 0) {
            errors.push('La tabla de productos no puede estar vacía.');
        }

        // Display errors or submit the form
        if (errors.length > 0) {
            alert(errors.join('\n'));
        } else {
            const jsonData = getCompraDataTable();
            console.log("Datos capturados para enviar:", jsonData);  // Debugging statement
            saveCompraDataToCookie(jsonData);
            alert('Compra registrada exitosamente.');
            this.submit(); // Submit the form programmatically
        }
    });


</script>

{% endblock %}