.input-d {
  border: 2px solid #e2e8f0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  
  .btn-nueva-guia,
  .btn-filtrar {
    background-color: #00bdd6ff;
    color: white;
    font-weight: 500;
    align-items: center;
  }
  
  .btn-nueva-guia:hover,
  .btn-filtrar:hover {
    background-color: rgb(3, 158, 179);
  }
  
  .btn-exportar,
  .btn-resetear {
    background-color: rgba(0, 0, 0, 0.481);
    color: white;
    font-weight: 500;
    align-items: center;
  }
  
  .btn-exportar:hover,
  .btn-resetear:hover {
    background-color: rgba(0, 0, 0, 0.612);
  }
  
  .input-wrapper {
    align-items: center;
  }
  
  .label {
    margin-right: 5px;
  }
  
  .btn-pagination {
    margin: 0 0.25rem;
    padding: 0.25rem 0.5rem;
  }
  
  .btn-pagination:hover {
    background-color: #eaeaeae3;
    border-radius: 5px;
  }
  
  .cant-pag-d {
    padding: 0.25rem 1rem;
    background-color: #eaeaeae3;
  }
  
  /**TABLA**/
  
  .container-table-guia {
    box-shadow: 0 0 10px #171a1f0e;
    background-color: #171a1f0e !important;
    width: 100%; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centrar la tabla */
    
  }
  
  td, th {
    padding: 10px 0px;
    align-items: center !important;
    white-space: nowrap; /* Evita que el texto se desborde */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  td {
    max-width: 150px; /* Ajusta este valor según sea necesario */
    align-items: center !important;
  }
  
  .tr-tabla-guia {
    cursor: pointer !important;
  }
  
  .btn {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-cancel {
    background-color: #0000005e;
    color: rgb(255, 255, 255);
  }
  .btn-aceptar {
    background-color: #00bdd6;
    color: white;
  }
  .btn-danger {
    background-color: #aa1d22ff;
    color: white;
  }
  
  input[type="checkbox"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.3rem;
    background-color: #ffffff;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  input:checked {
    background-color: #00bdd6;
    border-color: #00bdd6;
  }
  
  input:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  /** Tabla detalle **/
  
  .container-table-details {
    box-shadow: 0 0 10px #171a1f33;
    background-color: #171a1f09 !important;
    border-radius: 10px;
  }
  
  
  .table-details td, .table-details th {
    border-top: solid 3px #1f1a170e;
    padding: 10px 0px;
    align-items: center !important;
    white-space: nowrap; /* Evita que el texto se desborde */
    overflow: hidden;
    text-overflow: ellipsis;
    
  }



/**TABLA**/

.container-table-reg {
  background-color:rgb(242, 243, 244) !important;
  padding-bottom: 20px;
}

