.input-field[type="password"],
.input-field[type="email"],
.input-field[type="text"] {
  padding-top: 30px;
  background-color: #e9ebeba5;
}

.input-container .input-label {
  font-weight: bold;
}

.custom-checkbox {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.3rem;
  background-color: #ffffff;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox:checked {
  background-color: #00bdd6 !important;
  border-color: #00bdd6 ! important;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.bg-circle-top-left,
.bg-circle-top-right {
  background: #8353e2;
}

.bg-circle-top-left {
  transform: translate(-20%, 75%);
}

.bg-circle-top-right {
  transform: translate(-50%, -50%);
  margin-top: 20vh;
  margin-left: 100vw;
}