{% extends 'base.html' %}

{% block title %}Tormenta - Libro Diario{% endblock %}


{% block content %}
<header class="mb-4">

    <h1 class="font-weight-bold display-8 text-left fs-3" style="font-weight: bold;">REPORTES DE CONTABILIDAD</h1>
</header>

<div class="mb-4">
    <div class="nav nav-tabs">
        <a class="nav-item nav-link active" href="#libro-diario" data-bs-toggle="tab">
            <i class="fas fa-book"></i> Libro Diario
        </a>
        <a class="nav-item nav-link" href="#libro-mayor" data-bs-toggle="tab">
            <i class="fas fa-book"></i> Libro Mayor
        </a>
        <a class="nav-item nav-link" href="#estado-resultados" data-bs-toggle="tab">
            <i class="fas fa-door-closed"></i> Estado de Resultados
        </a>
        <a class="nav-item nav-link" href="#cuentas-pagar" data-bs-toggle="tab">
            <i class="fas fa-door-closed"></i> Cuentas por Pagar
        </a>
    </div>
</div>

<div class="tab-content">
    <!-- Tab: Libro Diario -->
    <div class="tab-pane fade show active" id="libro-diario">
        <div class="card bg-white rounded custom-shadow p-4">
            <header class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h4 mb-0 d-flex align-items-center" style="font-weight: bold;">
                    <span></span>
                    LIBRO DIARIO
                </h1>

                <div class="dropdown me-2">
                    <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Más acciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item d-flex flex-column" href="#">
                            <span class="d-flex align-items-center">
                                <i class="fa fa-file-excel mr-2"></i>
                                <strong>Exportar a Excel</strong>
                            </span>
                        </a>
                        <a class="dropdown-item d-flex flex-column" href="#">
                            <span class="d-flex align-items-center">
                                <i class="fa fa-file-pdf mr-2" style="color: red;"></i>
                                <strong>Exportar a PDF</strong>
                            </span>
                        </a>
                    </div>
                </div>

            </header>


            <p class="text-muted small mb-4">Consulta los asientos contables de tu empresa en el período de tiempo
                que elijas.</p>
            <div class="container">

                <form class="row g-3 mb-3 align-items-end">
                    <div class="col-md-3">
                        <style>
                            .required-asterisk {
                                color: red;
                            }
                        </style>

                        <label for="daterange" class="form-label" style="font-size: 14px;">
                            Fecha<span class="required-asterisk">*</span>
                        </label>
                        <div class="input-group" style="width: auto;">
                            <input class="form-control" type="text" id="daterange"
                                placeholder="Selecciona un rango de fecha">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="tipo-registro" style="font-size: 14px;" class="form-label">Tipo de
                            registro</label>
                        <select class="form-select" id="tipo-registro">
                            <option selected>Todas</option>
                        </select>
                    </div>
                    <div class="col-lg-2 d-flex justify-content-end" style="margin-left: auto;">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fas fa-calendar-alt"></i> Generar Reporte
                        </button>
                    </div>
                </form>

            </div>



            <div class="table-responsive mb-4">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center">NÚMERO CORRELATIVO</th>
                            <th class="text-center">FECHA DE LA OPERACIÓN</th>
                            <th class="text-center">GLOSA O DESCRIPCIÓN</th>
                            <th class="text-center">NÚMERO DEL DOCUMENTO</th>
                            <th class="text-center">CÓDIGO</th>
                            <th class="text-center">DENOMINACIÓN</th>
                            <th class="text-center">DEBE</th>
                            <th class="text-center">HABER</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set numero_correlativo = 1 %}
                        {% for id_asiento, asiento in asientos.items() %}
                        {% for detalle in asiento.detalles %}
                        <tr>
                            {% if loop.first %}
                            <td class="text-center" rowspan="{{ asiento.detalles|length }}">{{ numero_correlativo }}
                            </td>
                            <td rowspan="{{ asiento.detalles|length }}">{{ asiento.fecha_asiento.strftime('%d/%m/%Y') }}
                            </td>
                            <td rowspan="{{ asiento.detalles|length }}">{{ asiento.glosa }}</td>
                            <td rowspan="{{ asiento.detalles|length }}">{{ asiento.num_comprobante }}</td>
                            {% endif %}
                            <td>{{ detalle.codigo_cuenta }}</td>
                            <td>{{ detalle.nombre_cuenta }}</td>
                            <td class="text-end">{{ detalle.debe | round(2) }}</td>
                            <td class="text-end">{{ detalle.haber| round(2) }}</td>
                        </tr>
                        {% endfor %}
                        {% set numero_correlativo = numero_correlativo + 1 %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                           
                        </tr>
                    </tfoot>
                </table>
            </div>

            <nav aria-label="Navegación de páginas" class="d-flex justify-content-between align-items-center">
                <ul class="pagination pagination-sm mb-0">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&laquo;</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&lsaquo;</a></li>
                    <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&rsaquo;</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&raquo;</a></li>
                </ul>
                <div class="d-flex align-items-center">
                    <span class="text-muted small me-2">Mostrando 1-10 De 10</span>
                    <select class="form-select form-select-sm" style="width: auto;">
                        <option>10</option>
                    </select>
                </div>
            </nav>
        </div>
    </div>

    <!-- Tab: Libro Mayor -->
    <div class="tab-pane fade" id="libro-mayor">
        <div class="card bg-white rounded custom-shadow p-4">
            <header class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h4 mb-0 d-flex align-items-center" style="font-weight: bold;">
                    <span></span>
                    LIBRO MAYOR
                </h1>

                <div class="dropdown me-2">
                    <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Más acciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item d-flex flex-column" href="#">
                            <span class="d-flex align-items-center">
                                <i class="fa fa-file-excel mr-2"></i>
                                <strong>Exportar a Excel</strong>
                            </span>
                        </a>
                        <a class="dropdown-item d-flex flex-column" href="#">
                            <span class="d-flex align-items-center">
                                <i class="fa fa-file-pdf mr-2" style="color: red;"></i>
                                <strong>Exportar a PDF</strong>
                            </span>
                        </a>
                    </div>
                </div>

            </header>


            <p class="text-muted small mb-4">Consulta el detalle de los movimientos registrados, clasificados por
                cuentas, mostrando los debe, haber y saldos</p>
            <div class="container">

                <form class="row g-3 mb-3 align-items-end">
                    <div class="col-md-3">
                        <style>
                            .required-asterisk {
                                color: red;
                            }
                        </style>

                        <label for="daterange" class="form-label" style="font-size: 14px;">
                            Período <span class="required-asterisk">*</span>
                        </label>
                        <div class="input-group" style="width: auto;">
                            <input class="form-control" type="text" id="daterange"
                                placeholder="Selecciona un rango de fecha">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="tipo-registro" style="font-size: 14px;" class="form-label">Tipo de
                            registro</label>
                        <select class="form-select" id="tipo-registro">
                            <option selected>Todas</option>
                        </select>
                    </div>
                    <div class="col-lg-2 d-flex justify-content-end" style="margin-left: auto;">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fas fa-calendar-alt"></i> Generar Reporte
                        </button>
                    </div>
                </form>

            </div>



            <div class="table-responsive mb-4">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center">CÓDIGO DE CUENTA</th>
                            <th class="text-center">NOMBRE DE LA CUENTA</th>
                            <th class="text-center">FECHA</th>
                            <th class="text-center">DEBE</th>
                            <th class="text-center">HABER</th>
                            <th class="text-center">SALDO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for codigo_cuenta, cuenta in libro_mayor.items() %}
                            <tr>
                                <td class="text-center" rowspan="{{ cuenta.detalles|length }}">{{ codigo_cuenta }}</td>
                                <td rowspan="{{ cuenta.detalles|length }}">{{ cuenta.nombre_cuenta }}</td>
                                {% for detalle in cuenta.detalles %}
                                    {% if not loop.first %}<tr>{% endif %}
                                    <td>{{ detalle.fecha_asiento }}</td>
                                    <td class="text-end">{{ detalle.debe or '' }}</td>
                                    <td class="text-end">{{ detalle.haber or '' }}</td>
                                    <td class="text-end">{{ detalle.saldo }}</td>
                                    </tr>
                                {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>

            <nav aria-label="Navegación de páginas" class="d-flex justify-content-between align-items-center">
                <ul class="pagination pagination-sm mb-0">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&laquo;</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&lsaquo;</a></li>
                    <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&rsaquo;</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&raquo;</a></li>
                </ul>
                <div class="d-flex align-items-center">
                    <span class="text-muted small me-2">Mostrando 1-10 De 10</span>
                    <select class="form-select form-select-sm" style="width: auto;">
                        <option>10</option>
                    </select>
                </div>
            </nav>
        </div>
    </div>

    <!-- Tab: Libro Mayor -->
    <div class="tab-pane fade" id="libro-mayor">
        <div class="card bg-white rounded custom-shadow p-4">
            <header class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h4 mb-0 d-flex align-items-center" style="font-weight: bold;">
                    <span></span>
                    LIBRO MAYOR
                </h1>

                <div class="dropdown me-2">
                    <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Más acciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item d-flex flex-column" href="#">
                            <span class="d-flex align-items-center">
                                <i class="fa fa-file-excel mr-2"></i>
                                <strong>Exportar a Excel</strong>
                            </span>
                        </a>
                        <a class="dropdown-item d-flex flex-column" href="#">
                            <span class="d-flex align-items-center">
                                <i class="fa fa-file-pdf mr-2" style="color: red;"></i>
                                <strong>Exportar a PDF</strong>
                            </span>
                        </a>
                    </div>
                </div>

            </header>


            <p class="text-muted small mb-4">Consulta el detalle de los movimientos registrados, clasificados por
                cuentas, mostrando los debe, haber y saldos</p>
            <div class="container">

                <form class="row g-3 mb-3 align-items-end">
                    <div class="col-md-3">
                        <style>
                            .required-asterisk {
                                color: red;
                            }
                        </style>

                        <label for="daterange" class="form-label" style="font-size: 14px;">
                            Período <span class="required-asterisk">*</span>
                        </label>
                        <div class="input-group" style="width: auto;">
                            <input class="form-control" type="text" id="daterange"
                                placeholder="Selecciona un rango de fecha">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="tipo-registro" style="font-size: 14px;" class="form-label">Tipo de
                            registro</label>
                        <select class="form-select" id="tipo-registro">
                            <option selected>Todas</option>
                        </select>
                    </div>
                    <div class="col-lg-2 d-flex justify-content-end" style="margin-left: auto;">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fas fa-calendar-alt"></i> Generar Reporte
                        </button>
                    </div>
                </form>

            </div>



            <div class="table-responsive mb-4">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center">NÚMERO CORRELATIVO</th>
                            <th class="text-center">FECHA DE LA OPERACIÓN</th>
                            <th class="text-center">GLOSA O DESCRIPCIÓN</th>
                            <th class="text-center">NÚMERO DEL DOCUMENTO</th>
                            <th class="text-center">CUENTA CONTABLE</th>
                            <th class="text-center">DENOMINACIÓN</th>
                            <th class="text-center">DEBE</th>
                            <th class="text-center">HABER</th>
                            <th class="text-center">SALDO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>02/01/2024</td>
                            <td>Por la adquisición de material de oficina</td>
                            <td>F/001-2024</td>
                            <td class="text-center">285</td>
                            <td>Materiales auxiliares, suministros y repuestos</td>
                            <td class="text-end">500.00</td>
                            <td></td>
                            <td class="text-end">500.00</td>
                        </tr>
                        <tr>
                            <td class="text-center align-middle" rowspan="2">2</td>
                            <td>02/01/2024</td>
                            <td>Por el pago de alquiler de oficinas</td>
                            <td>F/002-2024</td>
                            <td class="text-center align-middle" rowspan="2">635</td>
                            <td rowspan="2" class="align-middle">Alquileres</td>
                            <td class="text-end">1500.00</td>
                            <td></td>
                            <td class="text-end align-middle" rowspan="2">1750.00</td>
                        </tr>
                        <tr>
                            <td>03/01/2024</td>
                            <td>Por el pago de alquiler de almacen</td>
                            <td>F/003-2024</td>
                            <td class="text-end">250.00</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td>02/01/2024</td>
                            <td>Por el abono en cuenta bancaria</td>
                            <td>B/001-2024</td>
                            <td class="text-center">101</td>
                            <td class="text-center">Caja</td>
                            <td></td>
                            <td class="text-end">2250.00</td>
                            <td class="text-end">2250.00</td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6" class="text-end" style="font-weight: bold;">TOTALES</th>
                            <th class="text-end" style="font-weight: bold;">2250.00</th>
                            <th class="text-end" style="font-weight: bold;">2250.00</th>
                            <th style="font-weight: bold;">S/</th>
                        </tr>
                    </tfoot>
                </table>

            </div>

            <nav aria-label="Navegación de páginas" class="d-flex justify-content-between align-items-center">
                <ul class="pagination pagination-sm mb-0">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&laquo;</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&lsaquo;</a></li>
                    <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&rsaquo;</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&raquo;</a></li>
                </ul>
                <div class="d-flex align-items-center">
                    <span class="text-muted small me-2">Mostrando 1-10 De 10</span>
                    <select class="form-select form-select-sm" style="width: auto;">
                        <option>10</option>
                    </select>
                </div>
            </nav>
        </div>
    </div>

    <!-- Tab: Estado de Resultados -->
    <div class="tab-pane fade" id="estado-resultados">
        <div class="card bg-white rounded custom-shadow p-4">
            <header class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h4 mb-0 d-flex align-items-center" style="font-weight: bold;">
                    <span></span>
                    ESTADO DE RESULTADO
                </h1>

                <div class="dropdown me-2">
                    <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Más acciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item d-flex flex-column" href="#">
                            <span class="d-flex align-items-center">
                                <i class="fa fa-file-excel mr-2"></i>
                                <strong>Exportar a Excel</strong>
                            </span>
                        </a>
                        <a class="dropdown-item d-flex flex-column" href="#">
                            <span class="d-flex align-items-center">
                                <i class="fa fa-file-pdf mr-2" style="color: red;"></i>
                                <strong>Exportar a PDF</strong>
                            </span>
                        </a>
                    </div>
                </div>

            </header>

            <p class="text-muted small mb-4">
                Consulta los ingresos, costos, gastos y utilidades de la empresa en el periodo de tiempo
                que elijas, no incluye impuestos.
            </p>
            <div class="container">
                <form class="row g-3 mb-3 align-items-end">
                    <div class="col-md-3">
                        <style>
                            .required-asterisk {
                                color: red;
                            }
                        </style>

                        <label for="daterange" class="form-label" style="font-size: 14px;">
                            Período <span class="required-asterisk">*</span>
                        </label>
                        <div class="input-group" style="width: auto;">
                            <input class="form-control" type="text" id="daterange"
                                placeholder="dd/mm/yyyy to dd/mm/yyyy">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>

                    </div>
                    <div class="col-md-2">

                        <span>Incluir cierre anual</span>

                    </div>
                    <div class="col-md-5">

                        <div class="form-check form-switch">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Incluir cuentas con saldo
                                cero</label>
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fas fa-calendar-alt"></i> Generar Reporte
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- <div class="tab-pane fade show active" id="cuentas-pagar">
        <div class="card bg-white rounded custom-shadow p-4">
            <header class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h4 mb-0 d-flex align-items-center" style="font-weight: bold;">
                    <span></span>
                    CUENTAS POR PAGAR
                </h1>

                <div class="dropdown me-2">
                    <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Más acciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item d-flex flex-column" href="#">
                            <span class="d-flex align-items-center">
                                <i class="fa fa-file-excel mr-2"></i>
                                <strong>Exportar a Excel</strong>
                            </span>
                        </a>
                        <a class="dropdown-item d-flex flex-column" href="#">
                            <span class="d-flex align-items-center">
                                <i class="fa fa-file-pdf mr-2" style="color: red;"></i>
                                <strong>Exportar a PDF</strong>
                            </span>
                        </a>
                    </div>
                </div>

            </header>

            <p class="text-muted small mb-4">Se podrá vizualizar las cuentas por pagar próximas a vencer</p>
            <div class="container">

                <form class="row g-3 mb-3 align-items-end">
                    <div class="col-md-3">
                        <style>
                            .required-asterisk {
                                color: red;
                            }
                        </style>

                        <label for="daterange" class="form-label" style="font-size: 14px;">
                            Período <span class="required-asterisk">*</span>
                        </label>
                        <div class="input-group" style="width: auto;">
                            <input class="form-control" type="text" id="daterange"
                                placeholder="Selecciona un rango de fecha">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-2 d-flex justify-content-end" style="margin-left: auto;">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fas fa-calendar-alt"></i> Generar Reporte
                        </button>
                    </div>
                </form>

            </div>



            <div class="table-responsive mb-4">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center">NOMBRE DEL PROVEEDOR</th>
                            <th class="text-center">CUENTA CONTABLE</th>
                            <th class="text-center">DENOMINACIÓN</th>
                            <th class="text-center">FECHA DE LA OPERACIÓN</th>
                            <th class="text-center">FECHA DE VENCIMIENTO</th>
                            <th class="text-center">MONTO</th>
                            <th class="text-center">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PROVEEDOR NUMERO 1</td>
                            <td class="text-center">285</td>
                            <td>Materiales auxiliares, suministros y repuestos</td>
                            <td class="text-center">01/01/2024</td>
                            <td class="text-center">01/01/2024</td>
                            <td>S/. 5000</td>
                            <td>
                                <button style="border: none; background-color: transparent;">
                                    <i class="fa-solid fa-money-bill fa-2xl"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6" class="text-end" style="font-weight: bold;">TOTALES</th>
                            <th style="font-weight: bold;">4000.00</th>
                            <th style="font-weight: bold;">4000.00</th>
                        </tr> 
                    </tfoot>
                </table>

            </div>

            <nav aria-label="Navegación de páginas" class="d-flex justify-content-between align-items-center">
                <ul class="pagination pagination-sm mb-0">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&laquo;</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&lsaquo;</a></li>
                    <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&rsaquo;</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">&raquo;</a></li>
                </ul>
                <div class="d-flex align-items-center">
                    <span class="text-muted small me-2">Mostrando 1-10 De 10</span>
                    <select class="form-select form-select-sm" style="width: auto;">
                        <option>10</option>
                    </select>
                </div>
            </nav>
        </div>
    </div> -->
</div>


</div>

{% endblock %}