{% extends 'base.html' %}

{% block title %}Tormenta{% endblock %}

{% from 'breadcrumb.html' import breadcrumb %}

{% block content %}

<style>
    :root {
        --primary-color: #3b82f6;
        --secondary-color: #1e40af;
        --background-color: #f3f4f6;
        --text-color: #1f2937;
        --border-color: #e5e7eb;
        --hover-color: #eff6ff;
    }

    body {
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.5;
        color: var(--text-color);
        background-color: var(--background-color);
        margin: 0;
        padding: 20px;
    }

    .sortable:hover {
        cursor: pointer;
    }


    /* Estilos responsivos */
    @media (max-width: 768px) {
        .table-scroll {
            min-width: 100%;
        }

        .acciones {
            min-width: auto;
        }

        .dropdown-menu {
            width: 100%;
        }
    }

    /* Estilos del modal */
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        background: white;
        padding: 20px;
        border-radius: 5px;
        width: 90%;
        max-width: 500px;
    }

    /* Estilos del dropdown */
    .dropdown-menu {
        width: 100%;
    }

    .dropdown-toggle::after {
        margin-left: .255em;
    }

    /* Estilos para alinear botones */
    .align-end {
        display: flex;
        justify-content: flex-end;
    }

    .table-scroll thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>

{{ breadcrumb([
{'label': 'Inicio', 'url': url_for('transaccional.index'), 'icon': 'M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414
1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1
0 001.414-1.414l-7-7z'},
{'label': 'Contabilidad', 'url': url_for('transaccional.index')},
{'label': 'Plan de cuentas'}
]) }}

<hr class="mb-4" />

<div class="row align-items-center mt-2 mb-5">
    <!-- Título principal -->
    <div class="col-md-8">
        <h1 class="font-weight-bold display-8 text-left fs-3">PLAN CONTABLE GENERAL EMPRESARIAL</h1>
        <!-- Texto debajo del título -->
        <p class="fs-6 fw-light">Este plan contiene la estructura contable jerárquica basada en digitos para empresas
            según la normativa vigente.</p>
    </div>

    <!-- Acciones y Agregar Cuenta -->
    <div class="col-md-4 d-flex justify-content-end align-items-center mt-2 mt-md-0">
        <!-- Dropdown de Más acciones -->
        <div class="dropdown me-2">
            <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Más acciones
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item d-flex flex-column" href="#">
                    <span class="d-flex align-items-center">
                        <i class="fa fa-file-excel mr-2"></i>
                        <strong>Exportar a Excel</strong>
                    </span>
                </a>
                <a class="dropdown-item d-flex flex-column" href="#">
                    <span class="d-flex align-items-center">
                        <i class="fa fa-file-pdf mr-2" style="color: red;"></i>
                        <strong>Exportar a PDF</strong>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row align-items-center mt-2 mb-4">
    <div class="col-md-12 d-flex flex-wrap align-items-center">
        <div class="input-group me-2 mb-2" style="flex: 1; max-width: 400px;">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar por nombre o num. de cuenta"
                aria-label="Buscar">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
        </div>


        <div class="dropdown me-2 mb-2" style="width: 300px;">
            <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" id="tipoCuenta"
                data-bs-toggle="dropdown" aria-expanded="false"
                style="background-color: white; border: 0.2px solid rgb(219, 215, 215); color: black;">
                {{ tipo_cuenta if tipo_cuenta else 'Tipo de cuenta' }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown1">

                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', tipo_cuenta=None, naturaleza=naturaleza, page=1, per_page=per_page) }}">---</a>
                </li>
                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', tipo_cuenta='Activo', naturaleza=naturaleza, page=1, per_page=per_page) }}">Activo</a>
                </li>
                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', tipo_cuenta='Pasivo', naturaleza=naturaleza, page=1, per_page=per_page) }}">Pasivos</a>
                </li>
                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', tipo_cuenta='Patrimonio neto', naturaleza=naturaleza, page=1, per_page=per_page) }}">Patrimonio
                        neto</a>
                </li>
                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', tipo_cuenta='Gastos por Naturaleza', naturaleza=naturaleza, page=1, per_page=per_page) }}">Gastos
                        por Naturaleza</a>
                </li>
                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', tipo_cuenta='Ingresos', naturaleza=naturaleza, page=1, per_page=per_page) }}">Ingresos</a>
                </li>
                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', tipo_cuenta='Saldos Intermediarios de Gestión', naturaleza=naturaleza, page=1, per_page=per_page) }}">Saldos
                        Intermediarios de Gestión</a>
                </li>
                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', naturaleza=naturaleza, page=1, per_page=per_page) }}">Todos</a>
                </li>
            </ul>
        </div>


        <div class="dropdown me-2 mb-2" style="width: 220px;">
            <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" id="dropdown2" style="
    background-color: white; border: 0.2px solid rgb(219, 215, 215); color: black; " data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ naturaleza if naturaleza else 'Naturaleza' }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown2">
                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', naturaleza='Deudora', tipo_cuenta=tipo_cuenta, page=1, per_page=per_page) }}">Deudora</a>
                </li>
                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', naturaleza='Acreedora', tipo_cuenta=tipo_cuenta, page=1, per_page=per_page) }}">Acreedora</a>
                </li>
                <li><a class="dropdown-item"
                        href="{{ url_for('contable.cuentas', tipo_cuenta=tipo_cuenta, page=1, per_page=per_page) }}">Todos</a>
                </li>
            </ul>
        </div>


        <!-- Botón Agregar Cuenta alineado al mismo nivel -->
        <a class="btn btn-primary mb-2" style="margin-left: auto;" onclick="openModalAdd()">
            <i class="fa fa-plus"></i> Agregar Cuenta
        </a>
    </div>
</div>


<div class="table-container mt-4">
    <div class="table-scroll">
        <table>
            <thead>
                <tr>
                    <th class="text-center" style="font-weight: bolder;">CÓDIGO</th>
                    <th class="text-center sortable" style="font-weight: bolder;" onclick="sortTable(0)">NOMBRE</th>
                    <th class="text-center" style="font-weight: bolder;">NATURALEZA</th>
                    <th class="text-center" style="font-weight: bolder;">ESTADO</th>
                    <th class="text-center acciones" style="font-weight: bolder;">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for cuenta in cuentas %}
                <tr>
                    <td class="text-center">{{ cuenta.codigo_cuenta }}</td>
                    <td class="text-align">{{ cuenta.nombre_cuenta }}</td>
                    <td class="text-center">
                        <span class="estado 
                    {% if cuenta.naturaleza == 'Deudora' %}
                        deudora
                    {% else %}
                        acreedora
                    {% endif %}
                    ">
                            {% if cuenta.naturaleza == 'Deudora' %}
                            Deudora
                            {% else %}
                            Acreedora
                            {% endif %}

                        </span>
                    </td>
                    <td class="text-center">
                        <span class="
                    status 
                    {% if cuenta.estado_cuenta == 1 %}
                        active-c
                    {% else %}
                        inactive
                    {% endif %}
                ">
                            {% if cuenta.estado_cuenta == 1 %}
                            Activo
                            {% else %}
                            Inactivo
                            {% endif %}
                        </span>

                    </td>

                    <td class="text-center actions">
                        <span class="action-button secondary eye"
                            onclick="openModalVer('{{ cuenta.id_cuenta }}', '{{ cuenta.codigo_cuenta }}', '{{ cuenta.nombre_cuenta }}', '{{ cuenta.naturaleza }}', '{{ cuenta.nivel }}', '{{ cuenta.estado_cuenta }}')">
                            <i class="fas fa-eye"></i>
                        </span>

                        <span class="action-button secondary edit" data-cuenta-id="{{ cuenta.id_cuenta }}"><i
                                class="fas fa-edit"></i></span>
                        <span class="action-button secondary trash"
                            onclick='openModalDelete({{ cuenta.id_cuenta }}, "{{ cuenta.codigo_cuenta }}", "{{ cuenta.nombre_cuenta }}")'>
                            <i class="fas fa-trash"></i>
                        </span>


                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-4 align-items-center">
    <!-- Paginación -->
    <nav aria-label="Pagination" class="col-md-8">
        <ul class="pagination">
            <!-- Botón Primero -->
            {% if page > 1 %}
            <li class="page-item">
                <a href="{{ url_for('contable.cuentas', page=1, per_page=per_page, tipo_cuenta=tipo_cuenta, naturaleza=naturaleza) }}"
                    class="page-link" aria-label="Primera Página">
                    &laquo;&laquo;
                </a>
            </li>
            {% endif %}

            <!-- Botón Anterior -->
            {% if page > 1 %}
            <li class="page-item">
                <a href="{{ url_for('contable.cuentas', page=page - 1, per_page=per_page, tipo_cuenta=tipo_cuenta, naturaleza=naturaleza) }}"
                    class="page-link" aria-label="Página Anterior">
                    &laquo;
                </a>
            </li>
            {% endif %}

            <!-- Números de Página -->
            {% set start_page = max(1, page - 2) %}
            {% set end_page = min(total_pages, page + 2) %}
            {% for p in range(start_page, end_page + 1) %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a href="{{ url_for('contable.cuentas', page=p, per_page=per_page, tipo_cuenta=tipo_cuenta, naturaleza=naturaleza) }}"
                    class="page-link" aria-label="Página {{ p }}">
                    {{ p }}
                </a>
            </li>
            {% endfor %}

            <!-- Botón Siguiente -->
            {% if page < total_pages %} <li class="page-item">
                <a href="{{ url_for('contable.cuentas', page=page + 1, per_page=per_page, tipo_cuenta=tipo_cuenta, naturaleza=naturaleza) }}"
                    class="page-link" aria-label="Página Siguiente">
                    &raquo;
                </a>
                </li>
                {% endif %}

                <!-- Botón Final -->
                {% if page < total_pages %} <li class="page-item">
                    <a href="{{ url_for('contable.cuentas', page=total_pages, per_page=per_page, tipo_cuenta=tipo_cuenta, naturaleza=naturaleza) }}"
                        class="page-link" aria-label="Última Página">
                        &raquo;&raquo;
                    </a>
                    </li>
                    {% endif %}
        </ul>
    </nav>

    <!-- Selector de Cantidad -->
    <div class="col-md-4 text-end mt-3 mt-md-0">
        <select class="form-select w-auto d-inline" onchange="location = this.value;">
            <option
                value="{{ url_for('contable.cuentas', page=page, per_page=50, tipo_cuenta=tipo_cuenta, naturaleza=naturaleza) }}"
                {% if per_page==50 %}selected{% endif %}>50</option>
            <option
                value="{{ url_for('contable.cuentas', page=page, per_page=100, tipo_cuenta=tipo_cuenta, naturaleza=naturaleza) }}"
                {% if per_page==100 %}selected{% endif %}>100</option>
            <option
                value="{{ url_for('contable.cuentas', page=page, per_page=200, tipo_cuenta=tipo_cuenta, naturaleza=naturaleza) }}"
                {% if per_page==200 %}selected{% endif %}>200</option>
            <option
                value="{{ url_for('contable.cuentas', page=page, per_page=100000, tipo_cuenta=tipo_cuenta, naturaleza=naturaleza) }}"
                {% if per_page==100000 %}selected{% endif %}>Todos</option>
        </select>
    </div>

</div>


<!-- Rango de resultados -->
<div class="mt-2 text-center">
    {% set start_result = (page - 1) * per_page + 1 %}
    {% set end_result = min(page * per_page, total_results) %}
    <p><strong>{{ start_result }}-{{ end_result }}</strong> de <strong>{{ total_results }}</strong> resultados</p>
</div>


<!-- Edit Modal -->
<form method="POST" id="editCuentaModal" class="edit-form">
    <div class="modal-overlay" style="display: none;">
        <div class="content-modal">
            <div class="modal-header">
                <h3 class="modal-title">Editar Cuenta</h3>
                <button type="button" class="modal-close" onclick="closeModal()"
                    style="border: none; color: black; background-color: white; width: 15px; font-weight: bold;">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="w-full text-start mb-5">
                    <!-- Campo de código de la cuenta -->
                    <label for="codigo_cuenta" class="text-sm font-bold text-black mt-4 block"
                        style="font-weight: bold;">
                        Código:
                    </label>
                    <input type="text" id="codigo_cuenta" name="codigo_cuenta" value=""
                        class="w-100 bg-gray-50 border-gray-300 text-gray-900 rounded-lg border p-2 text-sm"
                        placeholder="Código de la cuenta" required />

                    <!-- Campo de nombre de la cuenta -->
                    <label for="nombre_cuenta" class="text-sm font-bold text-black mt-4 block"
                        style="font-weight: bold;">
                        Nombre:
                    </label>
                    <input type="text" id="nombre_cuenta" name="nombre_cuenta" value=""
                        class="w-100 bg-gray-50 border-gray-300 text-gray-900 rounded-lg border p-2 text-sm"
                        placeholder="Nombre de la cuenta" required />

                    <!-- Campo para naturaleza de la cuenta -->
                    <label for="naturaleza" class="text-sm font-bold text-black mt-4 block" style="font-weight: bold;">
                        Naturaleza:
                    </label>
                    <select id="naturaleza" name="naturaleza"
                        class="w-100 text-sm bg-gray-50 border-gray-300 text-gray-900 rounded-lg border p-2" required>
                        <option value="Deudora">Deudora</option>
                        <option value="Acreedora">Acreedora</option>
                    </select>

                    <!-- Campo para estado de la cuenta -->
                    <label for="estado_cuenta" class="text-sm font-bold text-black mt-4 block"
                        style="font-weight: bold;">
                        Estado de la cuenta:
                    </label>
                    <select id="estado_cuenta" name="estado_cuenta"
                        class="w-100 text-sm bg-gray-50 border-gray-300 text-gray-900 rounded-lg border p-2" required>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>

                <!-- Botones de acción -->
                <div class="modal-buttons d-flex justify-content-end">
                    <button type="button" onclick="closeModal()" class="btn btn-secondary me-2">
                        <i class="fas fa-times"></i> Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>

<!-- Ver Modal-->
<div id="verCuentaModal" class="modal-overlay" style="display: none;">
    <div class="content-modal">
        <div class="modal-header">
            <h3 class="modal-title">Detalle de Cuenta</h3>
            <button type="button" class="modal-close" onclick="closeModalView()"
                style="border: none; color: black; background-color: white; width: 15px; font-weight: bold;">
                &times;
            </button>
        </div>
        <div class="modal-body">
            <label class="text-sm font-bold text-black mt-4 block" style="font-weight: bold;">
                Código:
            </label>
            <p id="codigo_cuenta" class="w-100 bg-gray-50 border-gray-300 text-gray-900 rounded-lg p-2 text-sm"></p>

            <label class="text-sm font-bold text-black mt-4 block" style="font-weight: bold;">
                Nombre:
            </label>
            <p id="nombre_cuenta" class="w-100 bg-gray-50 border-gray-300 text-gray-900 rounded-lg p-2 text-sm"></p>

            <label class="text-sm font-bold text-black mt-4 block" style="font-weight: bold;">
                Naturaleza:
            </label>
            <p id="naturaleza" class="w-100 bg-gray-50 border-gray-300 text-gray-900 rounded-lg p-2 text-sm"></p>

            <label class="text-sm font-bold text-black mt-4 block" style="font-weight: bold;">
                Nivel:
            </label>
            <p id="nivel_cuenta" class="w-100 bg-gray-50 border-gray-300 text-gray-900 rounded-lg p-2 text-sm"></p>

            <label class="text-sm font-bold text-black mt-4 block" style="font-weight: bold;">
                Estado de la cuenta:
            </label>
            <p id="estado_cuenta" class="w-100 bg-gray-50 border-gray-300 text-gray-900 rounded-lg p-2 text-sm"></p>
        </div>
    </div>
</div>


<!-- Add Account Modal-->

<div id="addAccountModal" class="modal-overlay" style="display: none;">
    <div class="content-modal">
        <div class="modal-header">
            <h3 class="modal-title">Agregar Nueva Cuenta</h3>
            <button type="button" class="modal-close" onclick="closeModalAdd()"
                style="border: none; color: black; background-color: white; width: 15px; font-weight: bold;">
                &times;
            </button>
        </div>
        <div class="modal-body">
            <div class="w-full text-start mb-5">
                <!-- Campo de código de la cuenta -->
                <label for="codigo_cuenta" class="text-sm font-bold text-black mt-4 block" style="font-weight: bold;">
                    Código:
                </label>
                <input type="text" id="codigo_cuenta" name="codigo_cuenta" value=""
                    class="w-100 bg-gray-50 border-gray-300 text-gray-900 rounded-lg border p-2 text-sm"
                    placeholder="Código de la cuenta" required />

                <!-- Mostrar nivel de cuenta (Simulación) -->
                <div class="grid grid-cols-4 items-center gap-4 mt-3">
                    <label class="text-right col-span-1">Nivel:</label>
                    <div class="col-span-3 font-medium" id="nivel_cuenta">Elemento</div>
                </div>

                <!-- Campo de nombre de la cuenta -->
                <label for="nombre_cuenta" class="text-sm font-bold text-black mt-4 block" style="font-weight: bold;">
                    Nombre:
                </label>
                <input type="text" id="nombre_cuenta" name="nombre_cuenta" value=""
                    class="w-100 bg-gray-50 border-gray-300 text-gray-900 rounded-lg border p-2 text-sm"
                    placeholder="Nombre de la cuenta" required />

                <!-- Campo de naturaleza de la cuenta -->
                <label for="naturaleza" class="text-sm font-bold text-black mt-4 block" style="font-weight: bold;">
                    Naturaleza:
                </label>
                <select id="naturaleza" name="naturaleza"
                    class="w-100 text-sm bg-gray-50 border-gray-300 text-gray-900 rounded-lg border p-2" required>
                    <option value="Deudora">Deudora</option>
                    <option value="Acreedora">Acreedora</option>
                </select>

                <!-- Campo de estado de la cuenta -->
                <label for="estado_cuenta" class="text-sm font-bold text-black mt-4 block" style="font-weight: bold;">
                    Estado de la cuenta:
                </label>
                <select id="estado_cuenta" name="estado_cuenta"
                    class="w-100 text-sm bg-gray-50 border-gray-300 text-gray-900 rounded-lg border p-2" required>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>

                <!-- Cuenta Padre (Opcional, según nivel) -->
                <div class="grid grid-cols-4 items-center gap-4 mt-3" id="cuenta_padre_container" style="display:none;"
                    style="font-weight: bold;">
                    <label class="text-right col-span-1">Cuenta Padre:</label>
                    <select id="cuenta_padre" name="cuenta_padre"
                        class="col-span-3 w-100 text-sm bg-gray-50 border-gray-300 text-gray-900 rounded-lg border p-2">
                        <option value="">Seleccione la cuenta padre</option>
                        <!-- Simulación de cuentas -->
                        <option value="1">1 - Activo</option>
                        <option value="10">10 - Efectivo y equivalentes</option>
                    </select>
                </div>
            </div>

            <!-- Botones de acción -->
            <div class="modal-buttons d-flex justify-content-end">
                <button type="button" onclick="closeModalAdd()" class="btn btn-secondary me-2">
                    <i class="fas fa-times"></i> Cancelar
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>



<!-- Delete Modal -->

<div id="deleteCuentaModal" class="confirmation-modal-overlay" style="display: none;">
    <div class="confirmation-modal" style="text-align: center;">
        <div class="modal-icon" style="margin-bottom: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
                <line x1="12" y1="9" x2="12" y2="13"></line>
                <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>
        </div>
        <h2 class="confirmation-modal-title" style="color: rgb(30, 30, 30);">Eliminar Cuenta</h2>
        <p class="confirmation-modal-message">¿Estás seguro que deseas eliminar esta cuenta?</p>
        <input type="hidden" id="deleteCuentaId" value="">
        <p id="deleteCuentaInfo" class="confirmation-modal-message"
            style="font-size: 18px; color: rgb(30, 30, 30); font-weight: bold;">
        </p>
        <div class="confirmation-modal-buttons"
            style="gap: 14px; display: flex; justify-content: center; margin-top: 20px;">
            <button style="border-radius: 40px; width: 150px; height: 50px; font-weight: 600;" class="btn btn-secondary"
                onclick="closeModalDelete()">No, Cancelar</button>
            <button style="border-radius: 40px; width: 150px; height: 50px; font-weight: 600;" class="btn btn-danger"
                onclick="deleteCuenta()">Sí, Eliminar!</button>
        </div>
    </div>
</div>


{% endblock %}