<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Plan Contable General Empresarial 2022 | PCGE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cuenta.css') }}">
</head>

<body>
    <div class="container-pcge">
        <div class="title-pcge">
            <h1 class="entry-title">
                PLAN CONTABLE<br>
                GENERAL EMPRESARIAL<br>
                2022
            </h1>
        </div>

        <ul class="cuentas">
            {% for cuenta in cuentas %}
            <li class="nivel-{{ cuenta.nivel }}">
                {% if cuenta.nivel == 1 %}
                ELEMENTO {{ cuenta.codigo_cuenta }}: {{ cuenta.nombre_cuenta }}
                {% else %}
                {{ cuenta.codigo_cuenta }} {{ cuenta.nombre_cuenta }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>
