.collapsed {
  padding-left: 16px; /* Ajusta según el ancho del sidebar colapsado */
}

li {
  display: flex;
  align-items: center;
  height: 48px;
  transition: padding-left 0.4s; 
}

li:hover {
  background-color: white; 
  border-radius: 5px;
}

li:hover {
  color: #4069e5ff; 
}

.toggle-button {
  position: absolute;
  right: -15px; 
  top: 10px;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  color: #4069e5ff;
  z-index: 10; 
  box-shadow: 4px 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.sidebar {
  height: auto;
}	

