.headerHistorico h6, .headerHistorico p {
  text-align: left;
}

.headerHistorico {
  display: flex;
  flex-direction: row; /* Arrange elements in a row */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Distribute space between items */
  padding: 20px;
  background-color: #f1f1f1;
}

.headerHistorico .info {
  flex: 1;
}

.headerHistorico .filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.headerHistorico .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.headerHistorico .date-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.headerHistorico select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Añade este estilo para el contenedor de fecha y date picker */
.fecha-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre la etiqueta y el picker */
}

/* Ajusta el tamaño del DateRangePicker */
.date-range-picker input {
  padding: 4px 8px;
  font-size: 0.9rem;
}
