{% extends 'base.html' %}

{% block title %}Tormenta{% endblock %}

{% block content %}

<style>
    :root {
        --primary-color: #3b82f6;
        --secondary-color: #1e40af;
        --background-color: #f3f4f6;
        --text-color: #1f2937;
        --border-color: #e5e7eb;
        --hover-color: #eff6ff;
    }

    body {
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.5;
        color: var(--text-color);
        margin: 0;
        padding: 0;
    }

    .sortable:hover {
        cursor: pointer;
    }

    #tipo_transaccion_info {
        display: inline-block;
        min-width: 50px;
    }

    #cuenta_debito_codigo {
        display: inline-block;
        min-width: 50px;
    }

    /* Estilos responsivos */
    @media (max-width: 768px) {
        .table-scroll {
            min-width: 100%;
        }

        .acciones {
            min-width: auto;
        }

        .dropdown-menu {
            width: 100%;
        }
    }

    /* Estilos del modal */
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        background: white;
        padding: 20px;
        border-radius: 5px;
        width: 90%;
        max-width: 500px;
    }

    /* Estilos del dropdown */
    .dropdown-menu {
        width: 100%;
    }

    .dropdown-toggle::after {
        margin-left: .255em;
    }

    /* Estilos para alinear botones */
    .align-end {
        display: flex;
        justify-content: flex-end;
    }

    .table-scroll thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .confirmation-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1050;
    }

    .confirmation-modal {
        background: white;
        padding: 20px;
        border-radius: 8px;
        width: 90%;
        max-width: 500px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    th,
    td {
        padding: 10px;
    }
    .alert-warning li {
        transition: none;
        margin-bottom: -10px;
    }

    .alert-warning li:hover {
        background-color: transparent; /* Evitar cambios en el fondo */
        color: inherit; /* Mantener el color del texto */
    }
</style>

<div class="row align-items-center mt-2 mb-2">
    <div class="col-md-8">
        <h1 class="font-weight-bold display-8 text-left fs-3" style="font-weight: bold;">
            GESTIÓN DE REGLAS CONTABLES
            <i class="fa fa-info-circle"
                style="font-size: 28px; cursor: pointer; color: #007BFF; transition: transform 0.2s ease, color 0.2s ease;"
                onmouseover="this.style.transform='scale(1.3)'; this.style.color='#0056b3';"
                onmouseout="this.style.transform='scale(1)'; this.style.color='#007BFF';"
                onclick="openModalInformacion()"></i>
        </h1>

        <p class="fs-6 text-gray-500">Este apartado permite crear, editar y eliminar reglas para la generación de
            asientos contables</p>
    </div>
    <div class="col-md-4 d-flex justify-content-end align-items-center mt-2 mt-md-0">
        <a class="btn btn-primary mb-2" style="margin-left: auto;" href="{{ url_for('contable.listar_tipo_transaccion') }}">
            <i class="fa-solid fa-gear me-2" style="font-size: 14px;"></i>Tipo Transacción
        </a>        
        <a class="btn btn-primary mb-2" style="margin-left: 10px;" onclick="openModalAdd()">
            <i class="fa fa-plus" style="font-size: 14px;"></i> Agregar regla
        </a>
    </div>
</div>

<!-- Editar regla -->
<div class="container-fluid">
    <form method="GET" action="{{ url_for('contable.reglas') }}">
        <div class="row g-3 mb-3">
            <div class="col-4 col-md-3">
                <label for="tipo-transaccion" class="form-label" style="font-size: 14px;">Tipo de transacción</label>
                <select class="form-select" id="tipo-transaccion" name="tipo_transaccion" onchange="this.form.submit()">
                    <option value="Todas" {% if tipo_transaccion == 'Todas' %}selected{% endif %}>Todas</option>
                    {% for tipo in filtro %}
                        <option value="{{ tipo }}" {% if tipo_transaccion == tipo %}selected{% endif %}>
                            {{ tipo | replace('_', ' ') | title }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-4 col-md-3">
                <div class="mt-4">
                    <a href="{{ url_for('contable.reglas') }}" class="btn btn-secondary mt-2"
                        style="background-color: rgb(226, 39, 39); border: none; color: white;"
                        onmouseover="this.style.backgroundColor='rgb(180, 20, 20)';"
                        onmouseout="this.style.backgroundColor='rgb(226, 39, 39)';">
                        <i class="fa-solid fa-filter-circle-xmark"></i> Borrar filtros
                    </a>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="row ms-2 me-2">
    {% if reglas_faltantes %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="height: auto;">
            Algunas transacciones no tienen reglas asignadas correctamente:
                {% for regla in reglas_faltantes %}
                    <li class="ms-2">
                        <strong>{{ regla.tipo_transaccion }} </strong>:
                        {% if regla.total_cuenta_debe == 0 %}
                            <span>Falta asignar una regla en el <strong> Debe</strong>.</span>
                        {% endif %}
                        {% if regla.total_cuenta_haber == 0 %}
                            <span>Falta asignar una regla en el <strong> Haber</strong>.</span>
                        {% endif %}
                    </li>
                {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
    {% endif %}
</div>

<div class="table-container mt-2" style="border: 1px solid #ccc;">
    <table style="border: #000; width: 100%; font-size: 13px;">
        <thead>
            <tr>
                <th class="text-center" style="font-weight: bolder;">Nombre</th>
                <th class="text-align" style="font-weight: bolder;text-align: left;">Tipo de proceso</th>
                <th class="text-align" style="font-weight: bolder;text-align: left;">Tipo de transacción</th>
                <th class="text-align" style="font-weight: bolder;text-align: right;">Cuenta débito</th>
                <th class="text-align" style="font-weight: bolder;text-align: right;">Cuenta crédito</th>
                <th class="text-center" style="font-weight: bolder;">Estado</th>
                <th class="text-center" style="font-weight: bolder;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if reglas %}

            {% for regla in reglas %}
            <tr>
                <td class="text-align" style="font-size: 14px;">{{ regla.nombre_regla }}</td>
                <td class="text-align" style="font-size: 14px; text-align: left;">{{ regla.tipo_registro }}</td>
                <td class="text-align" style="font-size: 14px; text-align: left;">{{ regla.tipo_transaccion }}</td>
                {% if regla.cuenta_debe_codigo %}
                <td class="text-align" style="font-size: 14px;text-align: right;">{{ regla.cuenta_debe_codigo }}</td>
                {% else %}
                <td class="text-align" style="font-size: 14px;text-align: right;">Ninguna</td>
                {% endif %}

                {% if regla.cuenta_haber_codigo %}
                <td class="text-align" style="font-size: 14px;text-align: right;">{{ regla.cuenta_haber_codigo }}</td>
                {% else %}
                <td class="text-align" style="font-size: 14px;text-align: right;">Ninguna</td>
                {% endif %}

                <td class="text-center">
                    <span style="font-size: 14px;font-weight: bold;" class="
                        estado 
                        {% if regla.estado == 1 %}
                            active-c
                        {% else %}
                            inactive
                        {% endif %}
                        ">
                        {% if regla.estado == 1 %}
                        Activo
                        {% else %}
                        Inactivo
                        {% endif %}
                    </span>
                </td>

                <td class="text-center acciones">
                    <span style="font-size: 14px; color: #1e40af;" class="action-button secondary view"
                        onclick="fetchReglaDetails({{ regla.id_regla }})">
                        <i class="fas fa-eye"></i>
                    </span>
                    <span style="font-size: 14px;" class="action-button secondary edit" onclick="openEditModal(
                            {{ regla.id_regla }}, 
                            '{{ regla.nombre_regla }}', 
                            '{{ regla.tipo_transaccion }}', 
                            '{{ regla.cuenta_debe_codigo if regla.cuenta_debe_codigo else '' }}', 
                            '{{ regla.cuenta_haber_codigo if regla.cuenta_haber_codigo else '' }}', 
                            {{ regla.estado }}
                        )">
                        <i class="fas fa-edit"></i>
                    </span>

                    <span style="font-size: 14px;" class="action-button secondary trash"
                        onclick="openModalDeleteRegla('{{ regla.id_regla }}', '{{ regla.nombre_regla }}')">
                        <i class="fas fa-trash"></i>
                    </span>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="6" class="text-center" style="padding: 20px; font-size: 14px;">
                    No se encontraron registros que coincidan con los criterios de búsqueda
                </td>
            </tr>
            {% endif %}

        </tbody>
    </table>
</div>

<div class="row mt-4 align-items-center">
    <!-- Paginación -->
    <nav aria-label="Pagination" class="col-md-8">
        <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item">
                <a href="{{ url_for('contable.reglas', page=1, per_page=per_page, tipo_transaccion=tipo_transaccion, tipo_monto=tipo_monto) }}"
                    class="page-link" aria-label="Primera Página">
                    &laquo;&laquo;
                </a>
            </li>
            <li class="page-item">
                <a href="{{ url_for('contable.reglas', page=page - 1, per_page=per_page, tipo_transaccion=tipo_transaccion, tipo_monto=tipo_monto) }}"
                    class="page-link" aria-label="Página Anterior">
                    &laquo;
                </a>
            </li>
            {% endif %}

            {% set start_page = max(1, page - 2) %}
            {% set end_page = min(total_pages, page + 2) %}
            {% for p in range(start_page, end_page + 1) %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a href="{{ url_for('contable.reglas', page=p, per_page=per_page, tipo_transaccion=tipo_transaccion, tipo_monto=tipo_monto) }}"
                    class="page-link">
                    {{ p }}
                </a>
            </li>
            {% endfor %}

            {% if page < total_pages %} <li class="page-item">
                <a href="{{ url_for('contable.reglas', page=page + 1, per_page=per_page, tipo_transaccion=tipo_transaccion, tipo_monto=tipo_monto) }}"
                    class="page-link" aria-label="Página Siguiente">
                    &raquo;
                </a>
                </li>
                <li class="page-item">
                    <a href="{{ url_for('contable.reglas', page=total_pages, per_page=per_page, tipo_transaccion=tipo_transaccion, tipo_monto=tipo_monto) }}"
                        class="page-link" aria-label="Última Página">
                        &raquo;&raquo;
                    </a>
                </li>
                {% endif %}
        </ul>
    </nav>


    <!-- Selector de Cantidad -->
    <div class="col-md-4 text-end mt-3 mt-md-0">
        <select style="font-size: 14px;" class="form-select w-auto d-inline" onchange="location = this.value;">
            <option value="{{ url_for('contable.reglas', page=page, per_page=5) }}" {% if per_page==5 %}selected{% endif
                %}>5</option>
            <option value="{{ url_for('contable.reglas', page=page, per_page=10) }}" {% if per_page==10 %}selected{%
                endif %}>10</option>
            <option value="{{ url_for('contable.reglas', page=page, per_page=20) }}" {% if per_page==20 %}selected{%
                endif %}>20</option>
            <option value="{{ url_for('contable.reglas', page=page, per_page=100000) }}" {% if per_page==100000
                %}selected{% endif %}>Todos</option>
        </select>
    </div>


    <div class="text-center" style="font-size: 14px; margin-top: -20px;">
        {% set start_result = (page - 1) * per_page + 1 %}
        {% set end_result = min(page * per_page, total_results) %}
        <p><strong>{{ start_result }}-{{ end_result }}</strong> de <strong>{{ total_results }}</strong> resultados</p>
    </div>
</div>





<!-- Modal para Mostrar Detalles de la Regla -->
<div id="openVerModal" class="modal-overlay"
    style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); align-items: center; justify-content: center; z-index: 1050;">
    <div class="content-modal"
        style="width: 90%; max-height: 90vh; overflow-y: auto; background-color: white; border-radius: 8px; padding: 20px;">

        <!-- Modal Header -->
        <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center;">
            <h3 class="modal-title" style="font-size: 36px;">DETALLES DE LA REGLA</h3>
            <button type="button" class="modal-close" onclick="closeModalVer()"
                style="border: none; color: black; background-color: #e74c3c; font-weight: bold; font-size: 24px; width: 40px; height: 40px; border-radius: 8px; display: flex; align-items: center; justify-content: center;">
                &times;
            </button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
            <div class="w-full text-start mb-5">

                <!-- Nombre de la Regla -->
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-body">
                        <h6 class="card-title" style="font-weight: bold;">Nombre de la regla</h6>
                        <p id="nombre_regla" style="font-size: 14px;" class="text-muted"></p>
                        <div class="grid-container"
                            style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-top: 20px;">

                            <!-- Tipo de Transacción -->
                            <div>
                                <h6 style="font-weight: bold;">Tipo de transacción</h6>
                                <span id="tipo_transaccion_info" class="badge bg-secondary"></span>
                            </div>

                            <!-- Estado -->
                            <div>
                                <h6 style="font-weight: bold;">Estado</h6>
                                <span id="estado" class="badge bg-success"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Configuración de Cuentas -->
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-body">
                        <h6 class="card-title" style="font-weight: bold;">Configuración de cuentas</h6>
                        <div class="container bg-light rounded p-4" style="background-color: #F4F4F5;">
                            <div class="row"
                                style="display: flex; flex-direction: row; justify-content: space-between;">

                                <!-- Cuenta Débito -->
                                <div style="flex: 1; margin-right: 10px;">
                                    <h6 style="font-weight: bold;">Cuenta débito</h6>
                                    <p id="cuenta_debito" style="font-size: 16px; font-weight: bold; display: block;">
                                    </p>
                                </div>

                                <!-- Cuenta Crédito -->
                                <div style="flex: 1; margin-left: 10px;">
                                    <h6 style="font-weight: bold;">Cuenta crédito</h6>
                                    <p id="cuenta_credito" style="font-size: 16px; font-weight: bold; display: block;">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="margin-bottom: 20px; display: none;">
                    <div class="card-body">
                        <h6 class="card-title" style="font-weight: bold;">Información adicional</h6>
                        <ul class="text-muted" style="font-size: 14px; list-style-type: disc; padding-left: 20px;">
                            <li>Esta regla se aplica automáticamente en transacciones de tipo <span
                                    id="tipo_transaccion"></span></li>
                        </ul>
                        <ul class="text-muted" style="font-size: 14px;list-style-type: disc;padding-left: 20px;">
                            <li>Esta regla contiene el tipo de monto: <span id="tipo_monto"> </span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .action-button {
        padding: 4px 6px;
    }
</style>

<!-- Agregar nueva regla -->
<form id="addReglaForm" method="POST" action="{{ url_for('contable.agregar_regla') }}">
    <div id="addAccountModal" class="modal-overlay"
        style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); justify-content: center; align-items: center; z-index: 1050;">
        <div class="content-modal p-4"
            style="background-color: white; max-width: 600px; max-height: 90vh; width: 100%; overflow-y: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
            <!-- Encabezado -->
            <div class="modal-header d-flex justify-content-between align-items-center border-0 pb-3"
                style="padding-right: 10px;">
                <h3 class="modal-title m-0" style="font-weight: bold;">AGREGAR NUEVA REGLA</h3>
                <button type="button" class="modal-close" onclick="closeModalAdd()"
                    style="border: none; color: black; background-color: #e74c3c; font-weight: bold; font-size: 24px; width: 40px; height: 40px; border-radius: 8px; display: flex; align-items: center; justify-content: center;">&times;</button>
            </div>

            <!-- Cuerpo del modal -->
            <div class="modal-body">
                <!-- Nombre de la regla -->
                <div class="mb-4">
                    <label for="codigo_cuenta" class="form-label" style="font-weight: bold;">Nombre:</label>
                    <input type="text" id="codigo_cuenta" name="nombre_regla_add" class="form-control"
                        placeholder="Ej: Registro de venta al contado" required />
                </div>

                <!-- Tipo de registro -->
                <div class="mb-4">
                    <label for="tipo_registro" class="form-label" style="font-weight: bold;">Tipo de
                        registro:</label>
                    <select id="tipo_registro" name="tipo_registro_add" class="form-select" required>
                        <option value="">Seleccione un tipo de registro</option>
                        <option value="compra">compra</option>
                        <option value="venta">venta</option>
                    </select>
                </div>

                <!-- Tipo de transacción -->
                <div class="mb-4">
                    <label for="tipo_transaccion_add" class="form-label" style="font-weight: bold;">Tipo de
                        transacción:</label>
                    <select id="tipo_transaccion_add" name="tipo_transaccion_add" class="form-select" required>
                        <option value="">Seleccione una transacción</option>
                    </select>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- Opción Solo Débito -->
                        <div class="d-flex align-items-start mb-3">
                            <input type="checkbox" id="solo_debito_checkbox" class="form-check-input me-2 mt-1">
                            <div>
                                <label for="solo_debito_checkbox" class="form-check-label"
                                    style="font-weight: bold;">Deudora</label>
                                <p class="text-muted" style="font-size: 14px; margin: 0;">
                                    Marque esta opción si la regla solo registra en el debe.
                                </p>
                            </div>
                        </div>

                        <!-- Opción Solo Crédito -->
                        <div class="d-flex align-items-start">
                            <input type="checkbox" id="solo_credito_checkbox" class="form-check-input me-2 mt-1">
                            <div>
                                <label for="solo_credito_checkbox" class="form-check-label"
                                    style="font-weight: bold;">Acreedora</label>
                                <p class="text-muted" style="font-size: 14px; margin: 0;">
                                    Marque esta opción si la regla solo registra en el haber.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Cuenta débito -->
                <div class="mb-4">
                    <label for="cuenta_debito" class="form-label">Cuenta débito:</label>
                    <input type="text" id="cuenta_debito_add" name="cuenta_debito_add" class="form-control"
                        placeholder="Ej: 1212" required />
                </div>
                
                <!-- Cuenta crédito -->
                <div class="mb-4">
                    <label for="cuenta_credito" class="form-label">Cuenta
                        crédito:</label>
                    <input type="text" id="cuenta_credito_add" name="cuenta_credito_add" class="form-control"
                        placeholder="Ej: 4010" required />
                </div>

                <!-- Contenido a mostrar u ocultar -->
                <div class="mb-4" id="reglaPorcentaje" style="display: none;">
                    <label for="tipo_monto_add" class="form-label" style="font-weight: bold;">Porcentaje
                        regla:</label>
                    <div class="row g-3 align-items-center my-1">
                        <div class="col-auto">
                            <label for="" class="col-form-label">Nueva regla</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" id="porcentaje_nueva_regla" class="form-control"
                                aria-describedby="passwordHelpInline" name="porcentaje_nueva_regla">
                        </div>
                    </div>

                    <div id="contenedorReglas">
                        <!-- Las reglas se agregarán aquí dinámicamente -->
                    </div>

                    <!-- Mensaje de Validación -->
                    <p id="porcentajeMensaje" style="color: red; display: none; margin-top: 10px;"></p>

                </div>
                <!-- Estado de la cuenta -->
                <div class="mb-2">
                    <label for="estado_cuenta" class="form-label" style="font-weight: bold;">Estado:</label>
                    <select id="estado_cuenta" name="estado_cuenta_add" class="form-select" required>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>

                <div class="row">
                    <p id="xd" style="color: red; margin-top: 10px; font-weight: bold;" class="ms-2">*Primero se deben crear las reglas, tanto Deudoras como Acreedoras, luego ya se procede a realizar las ventas, de lo contrario los montos estaran descuadrados</p>
                </div>
                <!-- Botones de acción -->
                <div class="d-flex justify-content-end mt-4" style="gap: 12px;">
                    <button type="button" onclick="closeModalAdd()" class="btn btn-secondary me-2">
                        <i class="fas fa-times"></i> Cancelar
                    </button>
                    <button type="submit" id="guardarButton" class="btn btn-primary">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


<div id="informacionModal" class="modal-overlay"
    style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); align-items: center; justify-content: center; z-index: 1050;">
    <div class="content-modal"
        style="width: 90%; max-height: 90vh; overflow-y: auto; background-color: white; border-radius: 8px; padding: 20px;">

        <!-- Modal Header -->
        <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center;">
            <h3 class="modal-title" style="font-size: 28px;">GESTIÓN DE REGLAS CONTABLES</h3>
            <button type="button" class="modal-close" onclick="closeModalInformacion()"
                style="border: none; color: black; background-color: #e74c3c; font-weight: bold; font-size: 24px; width: 40px; height: 40px; border-radius: 8px; display: flex; align-items: center; justify-content: center;">
                &times;
            </button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
            <div class="w-full text-start mb-5">

                <!-- Nombre de la Regla -->
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-body">
                        <div class="grid-container"
                            style="display: grid; grid-template-columns: 1fr; gap: 10px; margin-top: 20px;">
                            <div class="fs-6 text-gray-500">
                                <p>Las reglas contables automatizan la creación de asientos basados en transacciones del
                                    sistema. Cada regla especifica:</p>
                                <ul>
                                    <li>Tipo de transacción que la activa</li>
                                    <li>Cuentas de débito y crédito involucradas</li>
                                    <li>Tipo de monto de cada cuenta</li>
                                </ul>
                                <p>Es posible configurar hasta tres reglas por tipo de transacción para distintos
                                    escenarios contables.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="card" style="margin-bottom: 20px; display: none;">
                <div class="card-body">
                    <h6 class="card-title" style="font-weight: bold;">Información adicional</h6>
                    <ul class="text-muted" style="font-size: 14px; list-style-type: disc; padding-left: 20px;">
                        <li>Esta regla se aplica automáticamente en transacciones de tipo <span
                                id="tipo_transaccion"></span></li>
                    </ul>
                    <ul class="text-muted" style="font-size: 14px;list-style-type: disc;padding-left: 20px;">
                        <li>Esta regla contiene el tipo de monto: <span id="tipo_monto"> </span></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</div>



<div id="deleteReglaModal" class="confirmation-modal-overlay" style="display: none;">
    <div class="confirmation-modal" style="text-align: center;">
        <div class="modal-icon" style="margin-bottom: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
                <line x1="12" y1="9" x2="12" y2="13"></line>
                <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>
        </div>
        <h2 class="confirmation-modal-title" style="color: rgb(30, 30, 30);">ELIMINAR REGLA</h2>
        <p class="confirmation-modal-message">¿Estás seguro que deseas eliminar esta regla?</p>
        <input type="hidden" id="deleteReglaId" value="">
        <p id="deleteReglaInfo" class="confirmation-modal-message"
            style="font-size: 18px; color: rgb(30, 30, 30); font-weight: bold;">
        </p>
        <div class="confirmation-modal-buttons"
            style="gap: 14px; display: flex; justify-content: center; margin-top: 20px;">
            <button style="border-radius: 40px; width: 150px; height: 50px; font-weight: 600;" class="btn btn-secondary"
                onclick="closeModalDeleteRegla()">No, cancelar</button>
            <button style="border-radius: 40px; width: 150px; height: 50px; font-weight: 600;" class="btn btn-danger"
                onclick="deleteRegla()">Sí, eliminar!</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const soloDebitoCheckbox = document.getElementById('solo_debito_checkbox');
        const soloCreditoCheckbox = document.getElementById('solo_credito_checkbox');
        const cuentaDebitoInput = document.getElementById('cuenta_debito_add');
        const cuentaCreditoInput = document.getElementById('cuenta_credito_add');

        function toggleCheckboxes() {
            if (soloDebitoCheckbox.checked) {
                soloCreditoCheckbox.checked = false;
                cuentaCreditoInput.disabled = true;
                cuentaDebitoInput.disabled = false;
            } else if (soloCreditoCheckbox.checked) {
                soloDebitoCheckbox.checked = false;
                cuentaDebitoInput.disabled = true;
                cuentaCreditoInput.disabled = false;
            } else {
                cuentaDebitoInput.disabled = false;
                cuentaCreditoInput.disabled = false;
            }
        }

        soloDebitoCheckbox.addEventListener('change', toggleCheckboxes);
        soloCreditoCheckbox.addEventListener('change', toggleCheckboxes);
    });
</script>

<script>
    // Obtén los elementos
    const radioSi = document.getElementById('flexRadioDefault1');
    const radioNo = document.getElementById('flexRadioDefault2');
    const reglaPorcentaje = document.getElementById('reglaPorcentaje');

    // Función para manejar la visibilidad
    function toggleReglaPorcentaje() {
        if (radioSi.checked) {
            reglaPorcentaje.style.display = 'none'; // Ocultar si se selecciona "Si"
        } else if (radioNo.checked) {
            reglaPorcentaje.style.display = 'block'; // Mostrar si se selecciona "No"
        }
    }

    // Agregar eventos a los radio buttons
    radioSi.addEventListener('change', toggleReglaPorcentaje);
    radioNo.addEventListener('change', toggleReglaPorcentaje);

    // Inicializar la visibilidad en función de la selección inicial
    toggleReglaPorcentaje();
</script>

<script>
    function openModalInformacion() {
        document.getElementById('informacionModal').style.display = 'flex';
    }
    function closeModalInformacion() {
        document.getElementById('informacionModal').style.display = 'none';
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function fetchReglaDetails(regla_id) {
            fetch(`/contable/reglas/detalles/${regla_id}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        openModalVerRegla(
                            data.nombre_regla,
                            data.tipo_transaccion,
                            data.estado,
                            data.cuenta_debito_codigo,
                            data.cuenta_debito_nombre,
                            data.cuenta_credito_codigo,
                            data.cuenta_credito_nombre,
                            data.tipo_monto
                        );
                    }
                })
                .catch(error => {
                    console.error('Error al obtener los detalles de la regla:', error);
                    alert('Ocurrió un error al obtener los detalles de la regla.');
                });
        }

        function openModalVerRegla(nombre_regla, tipo_transaccion, estado, cuenta_debito_codigo, cuenta_debito_nombre, cuenta_credito_codigo, cuenta_credito_nombre, tipo_monto) {
            document.getElementById('nombre_regla').textContent = nombre_regla || "No disponible";
            document.getElementById('tipo_transaccion_info').textContent = tipo_transaccion || "No disponible";
            document.getElementById('estado').textContent = estado || "No disponible";

            const cuentaDebitoText = (cuenta_debito_codigo && cuenta_debito_nombre) ? `${cuenta_debito_codigo} - ${cuenta_debito_nombre}` : "Ninguna";
            document.getElementById('cuenta_debito').textContent = cuentaDebitoText;

            const cuentaCreditoText = (cuenta_credito_codigo && cuenta_credito_nombre) ? `${cuenta_credito_codigo} - ${cuenta_credito_nombre}` : "Ninguna";
            document.getElementById('cuenta_credito').textContent = cuentaCreditoText;

            document.getElementById('tipo_transaccion').textContent = tipo_transaccion || "No disponible";

            document.getElementById('tipo_monto').textContent = tipo_monto || "No disponible";

            document.getElementById('openVerModal').style.display = 'flex';
        }

        function closeModalVer() {
            document.getElementById('openVerModal').style.display = 'none';
        }



        window.fetchReglaDetails = fetchReglaDetails;
        window.closeModalVer = closeModalVer;
    });


</script>

<!-- xd -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener elementos del DOM
        const tipoRegistroSelect = document.getElementById('tipo_registro');
        const tipoTransaccionSelect = document.getElementById('tipo_transaccion_add');
        const soloDebitoCheckbox = document.getElementById('solo_debito_checkbox');
        const soloCreditoCheckbox = document.getElementById('solo_credito_checkbox');
        const contenedorReglas = document.getElementById('contenedorReglas');
        const reglaPorcentaje = document.getElementById('reglaPorcentaje');
        const cuentaDebitoInput = document.getElementById('cuenta_debito_add');
        const cuentaCreditoInput = document.getElementById('cuenta_credito_add');
        const porcentajeNuevaRegla = document.getElementById('porcentaje_nueva_regla');
        const guardarButton = document.getElementById('guardarButton');
        const porcentajeMensaje = document.getElementById('porcentajeMensaje');

        // Función para evitar caracteres no permitidos en campos de cuentas
        function validateAccountField(input) {
            const regex = /^[0-9]*$/;
            if (!regex.test(input.value)) {
                input.value = input.value.replace(/[^0-9]/g, '');
                alert("Solo se permiten números en los campos de cuenta.");
            }
        }

        // Asignar eventos de validación en los campos de cuentas
        cuentaDebitoInput.addEventListener("input", function () {
            validateAccountField(this);
        });
        cuentaCreditoInput.addEventListener("input", function () {
            validateAccountField(this);
        });

        // Función para filtrar los tipos de transacción por tipo de registro
        tipoRegistroSelect.addEventListener('change', function () {
            const selectedTipoRegistro = this.value;

            // Limpiar el select de transacciones
            tipoTransaccionSelect.innerHTML = '<option value="">Seleccione una transacción</option>';

            if (!selectedTipoRegistro) {
                // Si no hay un tipo de registro seleccionado, limpiar y ocultar reglas y mensajes
                contenedorReglas.innerHTML = '';
                reglaPorcentaje.style.display = 'none';
                porcentajeMensaje.style.display = 'none';
                guardarButton.disabled = true;
                return;
            }

            // Hacer la solicitud al servidor para obtener las transacciones filtradas
            fetch(`/contable/filtrar_transacciones?tipo_registro=${selectedTipoRegistro}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al obtener las transacciones');
                    }
                    return response.json();
                })
                .then(data => {
                    // Agregar las transacciones filtradas al select
                    data.forEach(transaccion => {
                        const option = document.createElement('option');
                        option.value = transaccion.nombre;
                        option.textContent = transaccion.nombre;
                        tipoTransaccionSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            // Limpiar las reglas y mostrar el contenedor para la nueva regla
            contenedorReglas.innerHTML = '';
            reglaPorcentaje.style.display = 'block'; // Mostrar para permitir agregar nueva regla
            porcentajeMensaje.style.display = 'none';
            guardarButton.disabled = true;
        });

        // Función para obtener y mostrar las reglas basadas en el tipo de transacción y los checkboxes
        function fetchAndDisplayReglas() {
            const tipoTransaccion = tipoTransaccionSelect.value;
            const tipoRegistro = tipoRegistroSelect.value;

            // Verificar si al menos uno de los checkboxes está marcado
            const isDebitoChecked = soloDebitoCheckbox.checked;
            const isCreditoChecked = soloCreditoCheckbox.checked;

            if (!isDebitoChecked && !isCreditoChecked) {
                // Ningún checkbox está marcado, ocultar las reglas
                contenedorReglas.innerHTML = '';
                reglaPorcentaje.style.display = 'none';
                porcentajeMensaje.style.display = 'none';
                guardarButton.disabled = true;
                return;
            }

            // Limpiar el contenedor
            contenedorReglas.innerHTML = '';

            if (tipoTransaccion && tipoRegistro) {
                const soloDebito = isDebitoChecked ? '1' : '0';
                const soloCredito = isCreditoChecked ? '1' : '0';

                // Construir los parámetros de consulta
                const queryParams = new URLSearchParams({
                    tipo_transaccion: tipoTransaccion,
                    tipo_registro: tipoRegistro,
                    solo_debito: soloDebito,
                    solo_credito: soloCredito
                });

                // Hacer la solicitud al servidor
                fetch(`/contable/reglas_por_tipo_transaccion?${queryParams.toString()}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Error al obtener las reglas.");
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.error) {
                            // Mostrar mensaje de error pero permitir agregar una nueva regla
                            reglaPorcentaje.style.display = 'block';
                            contenedorReglas.innerHTML = `<p>${data.error}</p>`;
                            porcentajeMensaje.style.display = 'none';
                            guardarButton.disabled = true;
                        } else {
                            // Mostrar el contenedor de porcentajes
                            reglaPorcentaje.style.display = 'block';
                            if (data.length > 0) {
                                // Crear los elementos dinámicamente para reglas existentes
                                data.forEach((regla, index) => {
                                    const row = document.createElement("div");
                                    row.classList.add("row", "g-3", "align-items-center", "my-1");

                                    const labelCol = document.createElement("div");
                                    labelCol.classList.add("col-auto");

                                    const label = document.createElement("label");
                                    label.classList.add("col-form-label");
                                    label.textContent = regla.nombre_regla; // Mostrar el nombre de la regla
                                    labelCol.appendChild(label);

                                    const inputCol = document.createElement("div");
                                    inputCol.classList.add("col-2");

                                    const input = document.createElement("input");
                                    input.type = "number";
                                    input.classList.add("form-control", "porcentaje-input"); // Añadir clase
                                    input.value = regla.porcentaje_total * 100; // Mostrar el porcentaje total
                                    input.min = "0";
                                    input.max = "100";
                                    inputCol.appendChild(input);

                                    // Agregar las columnas a la fila
                                    row.appendChild(labelCol);
                                    row.appendChild(inputCol);

                                    // Agregar la fila al contenedor
                                    contenedorReglas.appendChild(row);
                                });
                            } else {
                                // No hay reglas existentes, pero permitir agregar una nueva regla
                                contenedorReglas.innerHTML = ''; // No reglas existentes
                            }
                        }
                        // Validar porcentajes después de añadir nuevas reglas
                        validarPorcentajes();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        // Mostrar mensaje de error pero permitir agregar una nueva regla
                        reglaPorcentaje.style.display = 'block';
                        contenedorReglas.innerHTML = `<p>Hubo un error al cargar las reglas.</p>`;
                        porcentajeMensaje.style.display = 'none';
                        guardarButton.disabled = true;
                    });
            } else {
                // Ocultar las reglas si no se han seleccionado ambos dropdowns
                reglaPorcentaje.style.display = 'none';
                porcentajeMensaje.style.display = 'none';
                guardarButton.disabled = true;
            }
        }

        // Función para habilitar/deshabilitar los inputs de cuentas
        function toggleCuentaInputs() {
            if (soloDebitoCheckbox.checked) {
                cuentaDebitoInput.disabled = false;
                cuentaCreditoInput.disabled = true;
            } else if (soloCreditoCheckbox.checked) {
                cuentaDebitoInput.disabled = true;
                cuentaCreditoInput.disabled = false;
            } else {
                cuentaDebitoInput.disabled = false;
                cuentaCreditoInput.disabled = false;
            }
        }

        // Event listeners para los checkboxes
        soloDebitoCheckbox.addEventListener('change', function() {
            // Asegurarse de que los checkboxes sean mutuamente excluyentes
            if (this.checked) {
                soloCreditoCheckbox.checked = false;
            }
            fetchAndDisplayReglas();
            toggleCuentaInputs();
        });

        soloCreditoCheckbox.addEventListener('change', function() {
            // Asegurarse de que los checkboxes sean mutuamente excluyentes
            if (this.checked) {
                soloDebitoCheckbox.checked = false;
            }
            fetchAndDisplayReglas();
            toggleCuentaInputs();
        });

        // Función para validar los porcentajes
        function validarPorcentajes() {
            const porcentajeInputs = document.querySelectorAll('.porcentaje-input');
            let sum = 0;
            let allValid = true;

            porcentajeInputs.forEach(input => {
                const value = parseFloat(input.value);
                if (isNaN(value) || value < 0) {
                    allValid = false;
                } else {
                    sum += value;
                }
            });

            // Validar si el campo nueva regla tiene un valor válido
            const nuevaReglaValue = parseFloat(porcentajeNuevaRegla.value);
            if (!isNaN(nuevaReglaValue) && nuevaReglaValue >= 0) {
                sum += nuevaReglaValue;
            } else if (porcentajeNuevaRegla.value.trim() !== '') {
                allValid = false;
            }

            // Si hay al menos una regla pero el campo de nueva regla está vacío
            if (porcentajeInputs.length > 0 && porcentajeNuevaRegla.value.trim() === '') {
                allValid = false;
            }

            // Actualizar el estado del botón y el mensaje
            if (!allValid) {
                guardarButton.disabled = true;
                porcentajeMensaje.style.display = 'none';
                return;
            }

            if (sum !== 100) {
                guardarButton.disabled = true;
                const diferencia = 100 - sum;
                if (diferencia > 0) {
                    porcentajeMensaje.textContent = `Falta ${diferencia}%`;
                } else {
                    porcentajeMensaje.textContent = `Exceso de ${Math.abs(diferencia)}%.`;
                }
                porcentajeMensaje.style.display = 'block';
            } else {
                guardarButton.disabled = false;
                porcentajeMensaje.style.display = 'none';
            }
        }

        // Event delegation para inputs de porcentaje dinámicos
        contenedorReglas.addEventListener('input', function(event) {
            if (event.target.classList.contains('porcentaje-input')) {
                validarPorcentajes();
            }
        });

        // Asignar evento al campo de nueva regla
        porcentajeNuevaRegla.addEventListener('input', validarPorcentajes);

        // Inicializar el estado al cargar la página
        fetchAndDisplayReglas();
        toggleCuentaInputs();
        validarPorcentajes();

        // Funciones para manejar el modal de información
        function openModalInformacion() {
            document.getElementById('informacionModal').style.display = 'flex';
        }
        function closeModalInformacion() {
            document.getElementById('informacionModal').style.display = 'none';
        }

        // Funciones para manejar el modal de ver regla
        function fetchReglaDetails(regla_id) {
            fetch(`/contable/reglas/detalles/${regla_id}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        openModalVerRegla(
                            data.nombre_regla,
                            data.tipo_transaccion,
                            data.estado,
                            data.cuenta_debito_codigo,
                            data.cuenta_debito_nombre,
                            data.cuenta_credito_codigo,
                            data.cuenta_credito_nombre,
                            data.tipo_monto
                        );
                    }
                })
                .catch(error => {
                    console.error('Error al obtener los detalles de la regla:', error);
                    alert('Ocurrió un error al obtener los detalles de la regla.');
                });
        }

        function openModalVerRegla(nombre_regla, tipo_transaccion, estado, cuenta_debito_codigo, cuenta_debito_nombre, cuenta_credito_codigo, cuenta_credito_nombre, tipo_monto) {
            document.getElementById('nombre_regla').textContent = nombre_regla || "No disponible";
            document.getElementById('tipo_transaccion_info').textContent = tipo_transaccion || "No disponible";
            document.getElementById('estado').textContent = estado == 1 ? "Activo" : "Inactivo";

            const cuentaDebitoText = (cuenta_debito_codigo && cuenta_debito_nombre) ? `${cuenta_debito_codigo} - ${cuenta_debito_nombre}` : "Ninguna";
            document.getElementById('cuenta_debito').textContent = cuentaDebitoText;

            const cuentaCreditoText = (cuenta_credito_codigo && cuenta_credito_nombre) ? `${cuenta_credito_codigo} - ${cuenta_credito_nombre}` : "Ninguna";
            document.getElementById('cuenta_credito').textContent = cuentaCreditoText;

            document.getElementById('tipo_transaccion').textContent = tipo_transaccion || "No disponible";

            document.getElementById('tipo_monto').textContent = tipo_monto || "No disponible";

            document.getElementById('openVerModal').style.display = 'flex';
        }

        function closeModalVer() {
            document.getElementById('openVerModal').style.display = 'none';
        }

        // Funciones para manejar el modal de eliminar regla
        function openModalDeleteRegla(regla_id, nombre_regla) {
            document.getElementById('deleteReglaId').value = regla_id;
            document.getElementById('deleteReglaInfo').textContent = `¿Estás seguro que deseas eliminar la regla "${nombre_regla}"?`;
            document.getElementById('deleteReglaModal').style.display = 'flex';
        }

        function closeModalDeleteRegla() {
            document.getElementById('deleteReglaModal').style.display = 'none';
        }

        function deleteRegla() {
            const regla_id = document.getElementById('deleteReglaId').value;
            fetch(`/contable/reglas/eliminar/${regla_id}`, {
                method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Regla eliminada correctamente.");
                    closeModalDeleteRegla();
                    location.reload();
                } else {
                    alert("Error al eliminar la regla: " + data.message);
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Ocurrió un error al intentar eliminar la regla.");
            });
        }

        // Asignar funciones al global scope para poder llamarlas desde HTML
        window.openModalAdd = function() {
            document.getElementById('addAccountModal').style.display = 'flex';
        };

        window.closeModalAdd = function() {
            document.getElementById('addAccountModal').style.display = 'none';
            // Resetear el formulario y validaciones
            const addForm = document.getElementById('addReglaForm');
            addForm.reset();
            contenedorReglas.innerHTML = '';
            reglaPorcentaje.style.display = 'none';
            porcentajeMensaje.style.display = 'none';
            guardarButton.disabled = true;
            toggleCuentaInputs();
        };

        window.fetchReglaDetails = fetchReglaDetails;
        window.openModalVerRegla = openModalVerRegla;
        window.closeModalVer = closeModalVer;
        window.openModalDeleteRegla = openModalDeleteRegla;
        window.closeModalDeleteRegla = closeModalDeleteRegla;
        window.deleteRegla = deleteRegla;
    });
</script>

{% endblock %}