{% extends 'base.html' %}

{% block title %}Tormenta{% endblock %}

{% from 'breadcrumb.html' import breadcrumb %}

{% block content %}
<header class="mb-4">
 
    <h1 class="text-8xl font-bold tracking-wide text-gray-700 title-Inicio">MÓDULO ALMACEN</h1>
</header>

<style>
    table {
        border-collapse: separate;
        border-spacing: 0 6px;
        width: 100%;
        height: 100%;
    }


    table th,
    table td {
        font-weight: normal;
        color: #6c757d;
        border-bottom: 1px solid #dee2e6;
        padding: 30px 20px;
        vertical-align: middle;
    }

    table th{
        font-weight: bold;
    }

    table td {
        background-color: white;
        border-bottom: 2px solid white;
    }

    
    table thead {
        background-color: black;
        border-bottom: 2px solid white;
    }

    table tbody tr {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }

    /* Botón desplegable */
    

    .dropdown-toggle:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }

    .estado-activo {
        background-color: #eafff0;
        color: #28a745;
        padding: 5px 15px;
        border-radius: 12px;
        font-weight: bold;
        text-align: center;
    }

    /* Alineación de acciones */
    .accion-dropdown {
        text-align: center;
    }

    .centrar{
        text-align: center;
    }
    
    .modal-dialog {
        max-width: 40%;
    }
</style>

<!-- Tabs de Reporte -->
<div class="mb-4">
    <div class="nav nav-tabs">
        <a class="nav-item nav-link active" href="#sisinv" data-bs-toggle="tab">
            <i class="fas fa-door-closed"></i> Inventario
        </a>
        <a class="nav-item nav-link " href="#sistrans" data-bs-toggle="tab">
            <i class="fas fa-door-open"></i> Nota de ingreso
        </a>
        <a class="nav-item nav-link" href="#siscon" data-bs-toggle="tab">
            <i class="fas fa-door-closed"></i> Nota de salida
        </a>
    </div>
</div>

<div class="tab-content">
    <!-- Inventario -->
        <div class="tab-pane fade show active" id="sisinv">
            <!-- Detalles -->
            <div class="mb-4">
                <hr>
                <p class="text-muted" style="font-size: 14px;">
                    Podrás visualizar el inventario de productos.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <h4 class="mt-1"><b>Lista de Productos</b></h4>
                </div>
                <div class="col-lg-6">
                    <div class="input-group me-2 mb-2" style="flex: 1;">
                        <input type="text" id="searchInput" class="form-control" placeholder="Ingrese un producto"
                            aria-label="Buscar">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-2">
                    <!-- Botón para abrir el modal -->
                    <div class="input-group input-group-md">
                        <button type="button" class="btn btn-primary" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#addProductModal">
                            <i class="fa-solid fa-plus me-2"></i>Agregar producto
                        </button>
                    </div>                 
                </div>
            </div>

            <div class="row mt-4">
                <div class="container">
                    <div class="table-container">
                        <table class="table-scroll">
                            <thead>
                                <tr>
                                    <th class="centrar">DESCRIPCIÓN</th>
                                    <th class="centrar">LÍNEA</th>
                                    <th class="centrar">SUB-LÍNEA</th>
                                    <th class="centrar">UND. MED.</th>
                                    <th class="centrar">PRECIO (S/.)</th>
                                    <th class="centrar">COD. BARRAS</th>
                                    <th class="centrar">ESTADO</th>
                                    <th class="centrar">ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dato in datos_inventario %}
                                <tr>
                                    <td class="centrar">{{ dato.descripcion }}</td>
                                    <td class="centrar">{{ dato.nom_marca }}</td>
                                    <td class="centrar">{{ dato.nom_subcat }}</td>
                                    <td class="centrar">{{ dato.undm }}</td>
                                    <td class="centrar">{{ dato.precio }}</td>
                                    <td class="centrar">
                                        {% if dato.cod_barras != '-' %}
                                            <img src="{{ url_for('transaccional.barcode', code=dato.cod_barras) }}" alt="Código de barras" width="150" height="50">
                                        {% else %}
                                            {{ dato.cod_barras }}  <!-- Si no hay código de barras, muestra el número -->
                                        {% endif %}
                                    </td>
                                    <td class="centrar">
                                        {% if dato.estado == 1 %}
                                        <span class="estado-activo">Activo</span>
                                        {% else %}
                                        <span class="estado-inactivo">Inactivo</span>
                                        {% endif %}
                                    </td>
                                    <td class="accion-dropdown">
                                        <div class="dropdown">
                                            <span style="font-size: 14px;" class="action-button secondary edit"><i
                                                class="fas fa-edit"></i></span>
                                            <span style="font-size: 14px;" class="action-button secondary trash"><i
                                                    class="fas fa-trash"></i></span>    
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Paginación -->
                    <nav aria-label="Page navigation example" class="mt-4">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">&gt;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        <!-- Modal para agregar producto -->
        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Encabezado del modal -->
                    <div class="modal-header">
                        <h5 class="modal-title mt-3 ms-4 mb-3" id="addProductModalLabel">Nuevo producto</h5>
                    </div>
                    <!-- Cuerpo del modal -->
                    <div class="modal-body">
                        <form id="addProductForm" method="POST" action="{{ url_for('transaccional.add_producto') }}">
                            <!-- Aquí va el contenido del formulario, como lo tienes configurado -->
                            <!-- Descripción del producto -->                            
                            <div class="row ms-2 me-2 mb-3">
                                <label for="productDescription" class="form-label">Descripción:</label>
                                <input type="text" class="form-control" id="productDescription" name="descripcion" required>
                            </div>
                            
                            <!-- Categoría y Sub-Categoría -->
                            <div class="row ms-2 me-2 mb-3">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label for="categoriaSelect" class="form-label">Categoría:</label>
                                    </div>
                                    <div class="row me-1">
                                        <select id="categoriaSelect" name="categoria_id" class="form-select form-select-md" aria-label="Seleccione...">
                                            <option value="" selected>Seleccione...</option>
                                            {% for categoria in categorias %}
                                                <option value="{{ categoria['id_categoria'] }}">{{ categoria['nom_categoria'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label for="subCategoriaSelect" class="form-label">Sub-Categoría:</label>
                                    </div>
                                    <div class="row">
                                        <select id="subCategoriaSelect" name="sub_categoria_id" class="form-select form-select-md" aria-label="Seleccione...">
                                            <option value="" selected>Seleccione...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Marca y Precio -->
                            <div class="row ms-2 me-2 mb-3">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label for="marcaSelect" class="form-label">Marca:</label>
                                    </div>
                                    <div class="row me-1">
                                        <select class="form-select form-select-md" name="marca" aria-label="Seleccione...">
                                            <option selected>Seleccione...</option>
                                            <option value="1">TORMENTA</option>
                                            <option value="2">DASHIR</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label for="productPrice" class="form-label">Precio:</label>
                                    </div>
                                    <div class="row">
                                        <input type="number" class="form-control" id="productPrice" name="precio" placeholder="89.99" required>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Unidad de medida y Estado -->
                            <div class="row ms-2 me-2 mb-3">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label for="unidadMedidaSelect" class="form-label">Und. Medida:</label>
                                    </div>
                                    <div class="row me-1">
                                        <select class="form-select form-select-md" name="unidad_medida" aria-label="Seleccione...">
                                            <option selected>Seleccione...</option>
                                            <option value="KGM">KGM</option>
                                            <option value="NIU">NIU</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label for="estadoProducto" class="form-label">Estado:</label>
                                    </div>
                                    <div class="row">
                                        <select class="form-select form-select-md" name="estado" aria-label="Seleccione...">
                                            <option selected>Seleccione...</option>
                                            <option value="1">Activo</option>
                                            <option value="2">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>                        

                    </div>
                    <!-- Pie de página del modal -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #8f95a0;">Cerrar</button>
                        <button type="submit" class="btn btn-primary" form="addProductForm" style="background-color: #389ae6;">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Sistema Transaccional -->
    <div class="tab-pane fade" id="sistrans">
        <!-- Detalles -->
        <div class="mb-4">
            <hr>
            <p class="text-muted" style="font-size: 14px;">
                Podrás visualizar y registrar las notas de ingreso de los productos comprados.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2">
                        <h6 class="mt-2"><b>Almacén:</b></h6>
                    </div>
                    <div class="col-lg-10">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected>Seleccione...</option>
                            <option value="1">ALM CENTRAL ESCALERA</option>
                            <option value="2">ALMACEN CENTRAL 22</option>
                            <option value="3">ALM CENTRAL 52-53</option>
                            <option value="3">PRODUCCION</option>
                            <option value="3">ALM BALTA 7-8</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group mb-3 ms-3">
                    <div class="input-group input-group-md ms-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Nombre o razón social" aria-label="razonsosial" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-5">
                        <h6 class="mt-2 ms-3"><b>Comprobante:</b></h6>
                    </div>
                    <div class="col-lg-7">
                        <div class="input-group input-group-md">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="I400-00000000" aria-label="razonsosial" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2">
                        <h6 class="mt-2 ms-3"><b>Fecha:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group input-group-md ms-4">
                            <input class="input-group-text" type="text" id="daterange" placeholder="01/4/2024 - 8/04/2028" style="width: 100%; background-color: white;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-3">
                        <h6 class="mt-2"><b>Estado:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected style="text-align: center;">...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-3">
                        <h6 class="mt-2 ms-3"><b>Usuario:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group input-group-md ms-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="Ej: tormenta" aria-label="razonsosial" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-4">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected style="text-align: center;">...</option>
                            <option value="1">Guardar PDF</option>
                        </select>
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-7">
                        <div class="input-group input-group-md">
                            <a href="{{ url_for('transaccional.nueva_nota') }}" class="btn btn-primary" style="width: 100%;">
                                <i class="fa-solid fa-plus me-2"></i>Nota de Ingreso
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 7%;">
            <div class="container mt-5">
                <div class="table-container">
                    <table class="table-scroll">
                        <thead>
                            <tr>
                                <th class="centrar">Fecha</th>
                                <th class="centrar">Documento</th>
                                <th class="centrar">Proveedor</th>
                                <th class="centrar">Concepto</th>
                                <th class="centrar">Almacén Destino</th>
                                <th class="centrar">Estado</th>
                                <th class="centrar">Usuario</th>
                                <th class="centrar">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dato in datos_almacen_entrada %}
                            <tr>
                                <td class="centrar">{{ dato.fecha }}</td>
                                <td class="centrar">{{ dato.documento }}</td>
                                <td class="centrar">{{ dato.proveedor }}</td>
                                <td class="centrar">{{ dato.concepto }}</td>
                                <td class="centrar">{{ dato.almacen_D }}</td> <!-- Cambié a almacen_D -->
                                <td class="centrar"><span class="estado-activo">{{ dato.estado }}</span></td>
                                <td class="centrar">{{ dato.usuario }}</td>
                                <td class="accion-dropdown">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ loop.index }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            ...
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ loop.index }}">
                                            <li><a class="dropdown-item" href="#">Ver</a></li>
                                            <li><a class="dropdown-item" href="#">Editar</a></li>
                                            <li><a class="dropdown-item" href="#">Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        
                <!-- Paginación -->
                <nav aria-label="Page navigation example" class="mt-4">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&gt;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        
    </div>

    <!-- Nota Salida -->
    <div class="tab-pane fade" id="siscon">
        <!-- Detalles -->
        <div class="mb-4">
            <hr>
            <p class="text-muted" style="font-size: 14px;">
                Podrás visualizar y registrar las notas de salidas.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2">
                        <h6 class="mt-2"><b>Almacén:</b></h6>
                    </div>
                    <div class="col-lg-10">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected>Seleccione...</option>
                            <option value="1">ALM CENTRAL ESCALERA</option>
                            <option value="2">ALMACEN CENTRAL 22</option>
                            <option value="3">ALM CENTRAL 52-53</option>
                            <option value="3">PRODUCCION</option>
                            <option value="3">ALM BALTA 7-8</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group mb-3 ms-3">
                    <div class="input-group input-group-md ms-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Nombre o razón social" aria-label="razonsosial" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-5">
                        <h6 class="mt-2 ms-3"><b>Comprobante:</b></h6>
                    </div>
                    <div class="col-lg-7">
                        <div class="input-group input-group-md">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="I400-00000000" aria-label="razonsosial" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2">
                        <h6 class="mt-2 ms-3"><b>Fecha:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group input-group-md ms-4">
                            <input class="input-group-text" type="text" id="daterange" placeholder="01/4/2024 - 8/04/2028" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-3">
                        <h6 class="mt-2"><b>Estado:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected style="text-align: center;">...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-3">
                        <h6 class="mt-2 ms-3"><b>Usuario:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group input-group-md ms-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="Ej: tormenta" aria-label="razonsosial" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-4">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected style="text-align: center;">...</option>
                            <option value="1">Guardar PDF</option>
                        </select>
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-7">
                        <div class="input-group input-group-md">
                            <button type="button" class="btn btn-primary" style="width: 100%;"><i class="fa-solid fa-plus me-2"></i>Nota de Ingreso</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 7%;">
            <div class="container mt-5">
                <div class="table-container">
                    <table class="table-scroll">
                        <thead>
                            <tr>
                                <th class="centrar">Fecha</th>
                                <th class="centrar">Documento</th>
                                <th class="centrar">Destinatario</th>
                                <th class="centrar">Concepto</th>
                                <th class="centrar">Estado</th>
                                <th class="centrar">Usuario</th>
                                <th class="centrar">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dato in datos_almacen_salida %}
                            <tr>
                                <td class="centrar">{{ dato.fecha }}</td>
                                <td class="centrar">{{ dato.num_comprobante }}</td>
                                <td class="centrar">{{ dato.nombre_o_razon_social }}</td>
                                <td class="centrar">{{ dato.glosa }}</td>
                                <td class="centrar"><span class="estado-activo">{{ dato.estado }}</span></td>
                                <td class="centrar">{{ dato.usua }}</td>
                                <td class="accion-dropdown">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ loop.index }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            ...
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ loop.index }}">
                                            <li><a class="dropdown-item" href="#">Ver</a></li>
                                            <li><a class="dropdown-item" href="#">Editar</a></li>
                                            <li><a class="dropdown-item" href="#">Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            
                </div>
                <!-- Paginación -->
                <nav aria-label="Page navigation example" class="mt-4">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&gt;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title mt-3 ms-3 me-3 mb-2" id="confirmationModalLabel">
                    {% if category == 'success' %}
                    Éxito
                    {% else %}
                    Error
                    {% endif %}
                </h5>
                </div>
                <div class="modal-body">
                {{ message }}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>



<script>
    // Filtro de búsqueda en la tabla
    document.getElementById('searchInput').addEventListener('input', function() {
        let filter = this.value.toLowerCase();
        let rows = document.querySelectorAll('table tbody tr');

        rows.forEach(row => {
            let descripcion = row.querySelector('td:nth-child(1)').textContent.toLowerCase();
            if (descripcion.includes(filter)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

    // Actualización dinámica de subcategorías
    document.getElementById('categoriaSelect').addEventListener('change', function() {
        const categoriaId = this.value;
        const subCategoriaSelect = document.getElementById('subCategoriaSelect');

        if (categoriaId) {
            // Genera la URL con Flask's url_for
            const url = "{{ url_for('transaccional.obtener_subcategorias') }}?categoria_id=" + categoriaId;
            
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la respuesta');
                    }
                    return response.json();
                })
                .then(data => {
                    subCategoriaSelect.innerHTML = '<option selected>Seleccione...</option>';

                    data.forEach(subcategoria => {
                        const option = document.createElement('option');
                        option.value = subcategoria.id_subcategoria;
                        option.textContent = subcategoria.nom_subcat;
                        subCategoriaSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error en la solicitud:', error));
        } else {
            subCategoriaSelect.innerHTML = '<option selected>Seleccione...</option>';
        }
    });

    // Mostrar el modal automáticamente si hay mensajes
    document.addEventListener("DOMContentLoaded", function() {
        var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        if (document.getElementById('confirmationModal')) {
        confirmationModal.show();
        }
    });

</script>

{% endblock %}