{% extends 'base.html' %}

{% block title %}Tormenta{% endblock %}

{% from 'breadcrumb.html' import breadcrumb %}

{% block content %}
<header class="mb-4">
    {{ breadcrumb([
    {'label': 'Inicio', 'url': url_for('transaccional.index'), 'icon': 'M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0
    001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0
    001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z'},
    {'label': 'Almacen', 'url': url_for('transaccional.index')}

    ]) }}
    <h1 class="text-8xl font-bold tracking-wide text-gray-700 title-Inicio">MÓDULO ALMACEN</h1>
</header>

<style>
    table {
        border-collapse: separate;
        border-spacing: 0 8px;
        width: 100%;
        height: 100%;
    }

    table th, table td {
        font-weight: normal;
        color: #6c757d;
        border-bottom: 1px solid #dee2e6;
        padding: 30px 20px;
        vertical-align: middle;
    }

    table td {
        background-color: #f8f9fa;
        border-bottom: 2px solid white;
    }

    table tbody tr {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }

    /* Botón desplegable */
    .dropdown-toggle {
        border-radius: 8px;
        padding: 5px 10px;
        background-color: #e7f1ff;
        color: #007bff;
        border: 1px solid #007bff;
    }

    .dropdown-toggle:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }

    .estado-activo {
        background-color: #eafff0;
        color: #28a745;
        padding: 5px 15px;
        border-radius: 12px;
        font-weight: bold;
        text-align: center;
    }

    /* Alineación de acciones */
    .accion-dropdown {
        text-align: center;
    }

    .centrar{
        text-align: center;
    }
    
</style>

<!-- Tabs de Reporte -->
<div class="mb-4">
    <div class="nav nav-tabs">
        <a class="nav-item nav-link active" href="#sisinv" data-toggle="tab">
            <i class="fas fa-door-closed"></i> Inventario
        </a>
        <a class="nav-item nav-link " href="#sistrans" data-toggle="tab">
            <i class="fas fa-door-open"></i> Nota de ingreso
        </a>
        <a class="nav-item nav-link" href="#siscon" data-toggle="tab">
            <i class="fas fa-door-closed"></i> Nota de salida
        </a>
    </div>
</div>

<div class="tab-content">
    <!-- Inventario -->
        <div class="tab-pane fade show active" id="sisinv">
            <!-- Detalles -->
            <div class="mb-4">
                <hr>
                <p class="text-muted" style="font-size: 14px;">
                    Podrás visualizar el inventario de productos.
                </p>
            </div>
    </div>


    <!-- Sistema Transaccional -->
    <div class="tab-pane fade" id="sistrans">
        <!-- Detalles -->
        <div class="mb-4">
            <hr>
            <p class="text-muted" style="font-size: 14px;">
                Podrás visualizar y registrar las notas de ingreso de los productos comprados.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2">
                        <h6 class="mt-2"><b>Almacén:</b></h6>
                    </div>
                    <div class="col-lg-10">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected>Seleccione...</option>
                            <option value="1">ALM CENTRAL ESCALERA</option>
                            <option value="2">ALMACEN CENTRAL 22</option>
                            <option value="3">ALM CENTRAL 52-53</option>
                            <option value="3">PRODUCCION</option>
                            <option value="3">ALM BALTA 7-8</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group mb-3 ms-3">
                    <div class="input-group input-group-md ms-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Nombre o razón social" aria-label="razonsosial" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-5">
                        <h6 class="mt-2 ms-3"><b>Comprobante:</b></h6>
                    </div>
                    <div class="col-lg-7">
                        <div class="input-group input-group-md">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="I400-00000000" aria-label="razonsosial" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2">
                        <h6 class="mt-2 ms-3"><b>Fecha:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group input-group-md ms-4">
                            <input class="input-group-text" type="text" id="daterange" placeholder="01/4/2024 - 8/04/2028" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-3">
                        <h6 class="mt-2"><b>Estado:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected style="text-align: center;">...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-3">
                        <h6 class="mt-2 ms-3"><b>Usuario:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group input-group-md ms-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="Ej: tormenta" aria-label="razonsosial" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-4">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected style="text-align: center;">...</option>
                            <option value="1">Guardar PDF</option>
                        </select>
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-7">
                        <div class="input-group input-group-md">
                            <button type="button" class="btn btn-primary" style="width: 100%;"><i class="fa-solid fa-plus me-2"></i>Nota de Ingreso</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 7%;">
            <div class="container mt-5">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="centrar">Fecha</th>
                            <th class="centrar">Documento</th>
                            <th class="centrar">Proveedor</th>
                            <th class="centrar">Concepto</th>
                            <th class="centrar">Almacén Destino</th>
                            <th class="centrar">Estado</th>
                            <th class="centrar">Usuario</th>
                            <th class="centrar">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in datos_almacen_entrada %}
                        <tr>
                            <td class="centrar">{{ dato.fecha }}</td>
                            <td class="centrar">{{ dato.documento }}</td>
                            <td class="centrar">{{ dato.proveedor }}</td>
                            <td class="centrar">{{ dato.concepto }}</td>
                            <td class="centrar">{{ dato.almacen_D }}</td> <!-- Cambié a almacen_D -->
                            <td class="centrar"><span class="estado-activo">{{ dato.estado }}</span></td>
                            <td class="centrar">{{ dato.usuario }}</td>
                            <td class="accion-dropdown">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ loop.index }}" data-bs-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ loop.index }}">
                                        <li><a class="dropdown-item" href="#">Ver</a></li>
                                        <li><a class="dropdown-item" href="#">Editar</a></li>
                                        <li><a class="dropdown-item" href="#">Eliminar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
                <!-- Paginación -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&gt;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        
    </div>

    <!-- Nota Salida -->
    <div class="tab-pane fade" id="siscon">
        <!-- Detalles -->
        <div class="mb-4">
            <hr>
            <p class="text-muted" style="font-size: 14px;">
                Podrás visualizar y registrar las notas de salidas.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2">
                        <h6 class="mt-2"><b>Almacén:</b></h6>
                    </div>
                    <div class="col-lg-10">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected>Seleccione...</option>
                            <option value="1">ALM CENTRAL ESCALERA</option>
                            <option value="2">ALMACEN CENTRAL 22</option>
                            <option value="3">ALM CENTRAL 52-53</option>
                            <option value="3">PRODUCCION</option>
                            <option value="3">ALM BALTA 7-8</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group mb-3 ms-3">
                    <div class="input-group input-group-md ms-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Nombre o razón social" aria-label="razonsosial" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-5">
                        <h6 class="mt-2 ms-3"><b>Comprobante:</b></h6>
                    </div>
                    <div class="col-lg-7">
                        <div class="input-group input-group-md">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="I400-00000000" aria-label="razonsosial" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2">
                        <h6 class="mt-2 ms-3"><b>Fecha:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group input-group-md ms-4">
                            <input class="input-group-text" type="text" id="daterange" placeholder="01/4/2024 - 8/04/2028" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-3">
                        <h6 class="mt-2"><b>Estado:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected style="text-align: center;">...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-3">
                        <h6 class="mt-2 ms-3"><b>Usuario:</b></h6>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group input-group-md ms-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="Ej: tormenta" aria-label="razonsosial" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-4">
                        <select class="form-select form-select-md" aria-label="Default select example" style="margin-left: 30px;">
                            <option selected style="text-align: center;">...</option>
                            <option value="1">Guardar PDF</option>
                        </select>
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-7">
                        <div class="input-group input-group-md">
                            <button type="button" class="btn btn-primary" style="width: 100%;"><i class="fa-solid fa-plus me-2"></i>Nota de Ingreso</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 7%;">
            <div class="container mt-5">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="centrar">Fecha</th>
                            <th class="centrar">Documento</th>
                            <th class="centrar">Destinatario</th>
                            <th class="centrar">Concepto</th>
                            <th class="centrar">Estado</th>
                            <th class="centrar">Usuario</th>
                            <th class="centrar">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in datos_almacen_salida %}
                        <tr>
                            <td class="centrar">{{ dato.fecha }}</td>
                            <td class="centrar">{{ dato.num_comprobante }}</td>
                            <td class="centrar">{{ dato.nombre_o_razon_social }}</td>
                            <td class="centrar">{{ dato.glosa }}</td>
                            <td class="centrar"><span class="estado-activo">{{ dato.estado }}</span></td>
                            <td class="centrar">{{ dato.usua }}</td>
                            <td class="accion-dropdown">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ loop.index }}" data-bs-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ loop.index }}">
                                        <li><a class="dropdown-item" href="#">Ver</a></li>
                                        <li><a class="dropdown-item" href="#">Editar</a></li>
                                        <li><a class="dropdown-item" href="#">Eliminar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
                <!-- Paginación -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&gt;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}