{% extends 'base.html' %}
{% block title %}Tormenta{% endblock %}
{% from 'breadcrumb.html' import breadcrumb %}
{% block content %}
<header class="mb-4">
    {{ breadcrumb([
    {'label': 'Inicio', 'url': url_for('transaccional.index'), 'icon': 'M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0
    001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0
    001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z'},
    {'label': 'Productos', 'url': url_for('transaccional.index')}

    ]) }}
    <h1 class="text-8xl font-bold tracking-wide text-gray-700 title-Inicio" style="margin-top: 15px;">MÓDULO PRODUCTOS
    </h1>
</header>
<!-- Tabs de Reporte -->
<div class="mb-4">
    <div class="nav nav-tabs">
        <a class="nav-item nav-link active" href="#marcas" data-toggle="tab">
            <i class="fas fa-box-open"></i> Productos
        </a>
        <a class="nav-item nav-link" href="#marcas" data-toggle="tab">
            <i class="fas fa-tags"></i> Marcas
        </a>
        <a class="nav-item nav-link" href="#cat" data-toggle="tab">
            <i class="fas fa-th-large"></i> Categorias
        </a>
        <a class="nav-item nav-link" href="#cat" data-toggle="tab">
            <i class="fas fa-th-list"></i> Subcategorias
        </a>
    </div>
</div>
<div class="tab-content">
    <!-- Sistema Transaccional -->
    <div class="tab-pane fade show active" id="sistrans">
        <!-- Detalles -->
        <div class="mb-4">
            <hr>
            <p class="text-muted" style="font-size: 14px;">
                Podrás visualizar y registrar productos, marcas, categorias y subcategorias.
            </p>
        </div>
    </div>
    <!-- Sistema Contable -->
    <div class="tab-pane fade" id="siscon">
        <!-- Detalles -->
        <div class="mb-4">
            <hr>
            <p class="text-muted" style="font-size: 14px;">
                Podrás visualizar y registrar las notas de salidas.
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}