.menu-desplegable {
    background-color: white;
    max-width:max-content;
    border-radius: 10px;
    top: 50px;
    margin-left: 0px !important;
}

.menu-desplegable a:hover {
    background-color: #4069e5ff; 
    color: #ffffff; 
    transition: background-color 0.2s ease;
    border-radius: 5px; 
}
  