{% extends 'base.html' %}

{% block title %}Tormenta{% endblock %}

{% block content %}

<style>
    .fade-lazy {
        opacity: 0;
        transition: opacity 0.6s ease-in-out;
    }

    .fade-lazy.visible {
        opacity: 1;
    }

    .nav-tabs .nav-link.active {
        border-bottom: 3px solid #1D4ED8;
    }

    .gradient-text {
        font-size: 3rem;
        /* Ajusta el tamaño de la fuente según sea necesario */
        font-weight: 700;
        /* Hace el texto grueso */
        background: linear-gradient(90deg, #b279db, #4747f9, #547dfa, #9dc8e4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .line-with-text {
        display: flex;
        align-items: center;
        text-align: center;
        color: #5b677c;
        font-size: 0.9rem;
    }

    .line-with-text::before,
    .line-with-text::after {
        content: "";
        flex: 1;
        border-bottom: 1.4px solid #d5d7d8;
        /* Color y grosor de la línea */
        margin: 0 10px;
    }

    .div-class {
        position: relative;
        margin: 0 auto;
        width: 6rem;
        height: 0.25rem;
        background: linear-gradient(to right, rgba(52, 152, 219, 0.5), #1D4ED8);
        border-radius: 9999px;
        margin-top: 0.2rem;
    }
</style>



<div class="mt-2 p-2 ms-5" style="margin-left: 0rem !important; margin-top: 0rem !important;">
    <header class="mb-4">
        <h1 class="gradient-text" style="text-align: center;">
            MÓDULOS DEL SISTEMA
        </h1>
        <div class="div-class"></div>

    </header>

    <!-- Tabs de Reporte -->
    <div class="mb-4">
        {% if user.rol %}
        {% if user.rol.nom_rol == "CONTADOR" %}
        {# Solo muestra la pestaña Sistema contable y la marca como activa #}
        {% set active_tab = "siscon" %}
        {% set available_tabs = ["siscon"] %}
        {% elif user.rol.nom_rol == "EMPLEADO" %}
        {# Muestra la pestaña Sistema transaccional y la marca como activa #}
        {% set active_tab = "sistrans" %}
        {% set available_tabs = ["sistrans"] %}
        {% else %}
        {# Para ADMINISTRADOR y otros roles, muestra ambas pestañas #}
        {% set active_tab = "sistrans" %}
        {% set available_tabs = ["sistrans", "siscon"] %}
        {% endif %}
        {% else %}
        {# Si no hay rol definido, no muestra pestañas #}
        {% set active_tab = "none" %}
        {% set available_tabs = [] %}
        {% endif %}

        <div class="nav nav-tabs">
            {# Pestaña Sistema transaccional #}
            {% if "sistrans" in available_tabs %}
            <a class="nav-item nav-link {% if active_tab == 'sistrans' %}active{% endif %}" href="#sistrans"
                data-bs-toggle="tab">
                <i class="fas fa-credit-card"></i> Sistema transaccional
            </a>
            {% endif %}

            {# Pestaña Sistema contable #}
            {% if "siscon" in available_tabs %}
            <a class="nav-item nav-link {% if active_tab == 'siscon' %}active{% endif %}" href="#siscon"
                data-bs-toggle="tab">
                <i class="fas fa-calculator"></i> Sistema contable
            </a>
            {% endif %}
        </div>



    </div>

    <style>
        .user-info {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .user-text {
            font-size: 16px;
            color: #000000;
        }

        .card:hover {
            background-color: #f9f9f9;

            cursor: pointer;
        }

        .card {
            margin-bottom: 20px;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            padding: 15px;
            transition: background-color 0.3s, border-color 0.3s;
        }

        .card.selected {
            background-color: #e0f7fa;
            /* Azul claro para resaltar */
            border-color: #00796b;
            /* Verde oscuro para contraste */
        }
    </style>
    <script>
        function openModal() {
            document.querySelector('.modal-overlay').style.display = 'flex';
        }

        function closeModal() {
            document.querySelector('.modal-overlay').style.display = 'none';
        }


    </script>
    <div class="modal-overlay"
        style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); align-items: center; justify-content: center; z-index: 1050;">
        <div class="content-modal"
            style="width: 90%; max-height: 90vh; overflow-y: auto; background-color: white; border-radius: 8px; padding: 20px;">

            <!-- Modal Header -->
            <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center;">
                <h3 class="modal-title" style="font-size: 24    px;">SELECCIONAR ROL DE USUARIO</h3>
                <!-- <button type="button" class="modal-close" onclick="closeModalVer()"
                    style="border: none; color: black; background-color: #e74c3c; font-weight: bold; font-size: 24px; width: 40px; height: 40px; border-radius: 8px; display: flex; align-items: center; justify-content: center;">
                    &times;
                </button> -->
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="w-full text-start mb-5">

                    <!-- Nombre de la Regla -->
                    <div class="card"
                        style="margin-bottom: 20px; border: 1px solid #e0e0e0; border-radius: 8px; padding: 15px;">
                        <div class="user-info" style="display: flex;align-items: center;">
                            <i class="fas fa-user-circle"
                                style="font-size: 24px; color: #000000;margin-right: 7px;"></i>
                            <div>
                                <span class="user-text"
                                    style="font-size: 16px; color: #000000; margin-right: 7px; font-weight: bold;">Administrador</span>
                                <p class="text-muted" style="font-size: 14px; margin: 0;">
                                    Acceso total al sistema
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Configuración de Cuentas -->
                    <div class="card"
                        style="margin-bottom: 20px; border: 1px solid #e0e0e0; border-radius: 8px; padding: 15px;">
                        <div class="user-info" style="display: flex; align-items: center;">
                            <i class="fas fa-user-circle"
                                style="font-size: 24px; color: #b9b9b9; margin-right: 7px;"></i>
                            <div>
                                <span class="user-text" style="font-weight: bold; font-size: 16px;">Vendedor</span>
                                <p class="text-muted" style="font-size: 14px; margin: 0;">
                                    Acceso a las funciones del sistema transaccional
                                </p>
                            </div>
                        </div>
                    </div>


                    <!-- Información Adicional -->
                    <div class="card"
                        style="margin-bottom: 20px; border: 1px solid #e0e0e0; border-radius: 8px; padding: 15px;">
                        <div class="user-info" style="display: flex; align-items: center;">
                            <i class="fas fa-user-circle"
                                style="font-size: 24px; color: #0066ff; margin-right: 7px;"></i>
                            <div>
                                <span class="user-text" style="font-weight: bold; font-size: 16px;">Contador</span>
                                <p class="text-muted" style="font-size: 14px; margin: 0;">
                                    Acceso a las funciones del sistema contable
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-2" style="gap: 12px;">

                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check"></i> Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% if user.rol and user.rol.nom_rol != "CONTADOR" %}

    <div class="tab-content">
        <!-- Sistema Transaccional -->
        <div class="tab-pane fade show active fade-lazy" id="sistrans">
            <div class="mb-4" style="margin-bottom: 0rem !important;">
                <div class="line-with-text" style="margin-bottom: 15px;">
                    <span>Detalles</span>
                </div>

                <p class="text-muted" style="font-size: 14px;">
                    Podrás visualizar los módulos de ventas, compras, almacén de acuerdo al rol del usuario.
                </p>
            </div>

            <!-- Módulos -->
            <div class="row">
                <!-- Módulo de Ventas -->
                <div class="col-md-6 mb-4" style="margin-bottom: 0rem !important;">
                    <a href="{{ url_for('transaccional.ventas') }}" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body d-flex align-items-center">
                                <div class="bg-light p-3 rounded-circle me-3">
                                    <i class="fas fa-cash-register" style="font-size: 24px; color: #007bff;"></i>
                                </div>
                                <div>
                                    <h5 class="card-title text-gray-500" style="font-size: 14px;">Módulo de ventas
                                    </h5>
                                    <p class="card-text text-muted text-sm text-gray-500">Gestiona las ventas,
                                        facturación y seguimiento de clientes.</p>
                                    <p class="card-text text-muted " style="font-size: 14px;"><strong>Roles
                                            autorizados:</strong> Vendedor</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 mb-4" style="margin-bottom: 0rem !important;">
                    <a href="{{ url_for('transaccional.almacen') }}" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body d-flex align-items-center">
                                <div class="bg-light p-3 rounded-circle me-3">
                                    <i class="fas fa-box-open" style="font-size: 24px; color: #40b75c;"></i>
                                </div>
                                <div>
                                    <h5 class="card-title text-gray-500" style="font-size: 14px;">Módulo de
                                        productos
                                    </h5>
                                    <p class="card-text text-muted text-sm text-gray-500">Administra el catálogo de
                                        productos y sus características.</p>
                                    <p class="card-text text-muted" style="font-size: 14px;"><strong>Roles
                                            autorizados:</strong> Administrador</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Módulo de Compras -->
                <div class="col-md-6 mb-4" style="margin-bottom: 0rem !important;">
                    <a href="{{ url_for('transaccional.compras') }}" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body d-flex align-items-center">
                                <div class="bg-light p-3 rounded-circle me-3">
                                    <i class="fas fa-shopping-cart" style="font-size: 24px; color: #ffc619;"></i>
                                </div>
                                <div>
                                    <h5 class="card-title text-gray-500" style="font-size: 14px;">Módulo de compras
                                    </h5>
                                    <p class="card-text text-muted text-sm text-gray-500">Gestiona las órdenes de
                                        compra
                                        y relación con proveedores.</p>
                                    <p class="card-text text-muted" style="font-size: 14px;"><strong>Roles
                                            autorizados:</strong> Administrador</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Módulo de Almacén -->
                <div class="col-md-6 mb-4" style="margin-bottom: 0rem !important;">
                    <a href="{{ url_for('transaccional.almacen') }}" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body d-flex align-items-center">
                                <div class="bg-light p-3 rounded-circle me-3">
                                    <i class="fas fa-warehouse" style="font-size: 24px; color: #c55cef;"></i>
                                </div>
                                <div>
                                    <h5 class="card-title text-gray-500" style="font-size: 14px;">Módulo de almacén
                                    </h5>
                                    <p class="card-text text-muted text-sm text-gray-500">Controla el inventario y
                                        la
                                        logística de almacén.</p>
                                    <p class="card-text text-muted" style="font-size: 14px;"><strong>Roles
                                            autorizados:</strong> Administrador</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Sistema Contable -->
        {% if user.rol and user.rol.nom_rol != "EMPLEADO" %}

        <div class="tab-pane fade fade-lazy" id="siscon">
            <div class="mb-4">
                <div class="line-with-text" style="margin-bottom: 15px;">
                    <span>Detalles</span>
                </div>
                <p class="text-muted" style="font-size: 14px;">
                    Podrás visualizar el módulo contable de acuerdo al rol del usuario.
                </p>
            </div>

            <!-- Módulo de Cuentas PCGE -->
            <div class="col-md-6 mb-4 mx-auto" style="margin-bottom: 0rem !important;">
                <a href="{{ url_for('contable.cuentas') }}" class="text-decoration-none text-dark">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="bg-light p-3 rounded-circle me-3">
                                <i class="fas fa-folder-open" style="font-size: 24px; color: #324dff;"></i>
                            </div>
                            <div>
                                <h5 class="card-title text-gray-500" style="font-size: 14px;place-items: center;">
                                    Módulo
                                    de contabilidad
                                </h5>
                                <p class="card-text text-muted text-sm text-gray-500">Gestiona el control de las
                                    operaciones transaccionales del sistema.</p>
                                <p class="card-text text-muted" style="font-size: 14px;"><strong>Roles
                                        autorizados:</strong> Contador y administrador</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div id="accessDeniedModal" class="confirmation-modal-overlay" style="display: none;">
    <div class="confirmation-modal">
        <div class="modal-icon" style="margin-bottom: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
                <line x1="12" y1="9" x2="12" y2="13"></line>
                <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>
        </div>
        <h2 class="confirmation-modal-title" style="color: rgba(0, 0, 0, 0.87); font-weight: bold;">ACCESO DENEGADO
        </h2>
        <p class="confirmation-modal-message">No tiene los permisos necesarios para acceder a esta ruta.</p>
        <div class="confirmation-modal-buttons"
            style="gap: 14px; display: flex; justify-content: center; margin-top: 20px;">
            <button style="border-radius: 10px; width: 120px; height: 50px; font-weight: 600;" class="btn btn-danger"
                onclick="window.location.href='{{ url_for('inicio') }}'">
                <i class="fas fa-times me-2"></i>
                Cerrar
            </button>
        </div>
    </div>
</div>

<script>
    function closeModalRol() {
        document.getElementById('cambiarRolModal').style.display = 'none';
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('acceso_denegado')) {
            const modal = document.getElementById('accessDeniedModal');
            if (modal) {
                modal.style.display = 'flex'; // Mostrar el modal
            }
        }
    });

    function closeAccessDeniedModal() {
        const modal = document.getElementById('accessDeniedModal');
        if (modal) {
            modal.style.display = 'none'; // Ocultar el modal
        }
    }
</script>


<script>
    // Intersection Observer para aplicar el efecto lazy load
    document.addEventListener("DOMContentLoaded", function () {
        const lazyElements = document.querySelectorAll(".fade-lazy");

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("visible");
                    observer.unobserve(entry.target);
                }
            });
        }, { threshold: 0.1 });

        lazyElements.forEach(element => {
            observer.observe(element);
        });
    });
</script>

{% endblock %}