{% extends 'base.html' %}

{% block title %}Tormenta{% endblock %}

{% block content %}

<style>
    .fade-lazy {
        opacity: 0;
        transition: opacity 0.6s ease-in-out;
    }

    .fade-lazy.visible {
        opacity: 1;
    }

    .nav-tabs .nav-link.active {
        border-bottom: 3px solid #1D4ED8;
    }

    .gradient-text {
        font-size: 3rem;
        /* Ajusta el tamaño de la fuente según sea necesario */
        font-weight: 700;
        /* Hace el texto grueso */
        background: linear-gradient(90deg, #b279db, #4747f9, #547dfa, #9dc8e4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .line-with-text {
        display: flex;
        align-items: center;
        text-align: center;
        color: #4A5568;
        font-size: 0.9rem;
    }

    .line-with-text::before,
    .line-with-text::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #d5d7d8;
        /* Color y grosor de la línea */
        margin: 0 10px;
    }
</style>


<div class="mt-2 p-2 ms-5">
    <header class="mb-4 mt-4 text-center">
        <h1 class="gradient-text">
            MÓDULOS DEL SISTEMA
        </h1>







    </header>

    <!-- Tabs de Reporte -->
    <div class="mb-4">
        <div class="nav nav-tabs">
            <a class="nav-item nav-link active" href="#sistrans" data-bs-toggle="tab">
                <i class="fas fa-credit-card"></i> Sistema Transaccional
            </a>
            <a class="nav-item nav-link" href="#siscon" data-bs-toggle="tab">
                <i class="fas fa-calculator"></i> Sistema Contable
            </a>
        </div>
    </div>

    <div class="tab-content">
        <!-- Sistema Transaccional -->
        <div class="tab-pane fade show active fade-lazy" id="sistrans">
            <div class="mb-4">
                <div class="line-with-text" style="margin-bottom: 15px;">
                    <span>Detalles</span>
                </div>

                <p class="text-muted" style="font-size: 14px;">
                    Podrás visualizar los módulos de ventas, compras, almacén de acuerdo al rol del usuario.
                </p>
            </div>

            <!-- Módulos -->
            <div class="row">
                <!-- Módulo de Ventas -->
                <div class="col-md-6 mb-4">
                    <a href="{{ url_for('transaccional.ventas') }}" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body d-flex align-items-center">
                                <div class="bg-light p-3 rounded-circle me-3">
                                    <i class="fas fa-cash-register text-primary" style="font-size: 24px;"></i>
                                </div>
                                <div>
                                    <h5 class="card-title text-gray-500" style="font-size: 14px;">Módulo de Ventas</h5>
                                    <p class="card-text text-muted text-sm text-gray-500">Gestiona las ventas,
                                        facturación y seguimiento de clientes.</p>
                                    <p class="card-text text-muted " style="font-size: 14px;"><strong>Roles
                                            Autorizados:</strong> Vendedor</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Módulo de Productos -->
                <div class="col-md-6 mb-4">
                    <a href="{{ url_for('transaccional.productos') }}" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body d-flex align-items-center">
                                <div class="bg-light p-3 rounded-circle me-3">
                                    <i class="fas fa-box-open text-success" style="font-size: 24px;"></i>
                                </div>
                                <div>
                                    <h5 class="card-title text-gray-500" style="font-size: 14px;">Módulo de Productos
                                    </h5>
                                    <p class="card-text text-muted text-sm text-gray-500">Administra el catálogo de
                                        productos y sus características.</p>
                                    <p class="card-text text-muted" style="font-size: 14px;"><strong>Roles
                                            Autorizados:</strong> Administrador</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Módulo de Compras -->
                <div class="col-md-6 mb-4">
                    <a href="{{ url_for('transaccional.compras') }}" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body d-flex align-items-center">
                                <div class="bg-light p-3 rounded-circle me-3">
                                    <i class="fas fa-shopping-cart text-warning" style="font-size: 24px;"></i>
                                </div>
                                <div>
                                    <h5 class="card-title text-gray-500" style="font-size: 14px;">Módulo de Compras</h5>
                                    <p class="card-text text-muted text-sm text-gray-500">Gestiona las órdenes de compra
                                        y relación con proveedores.</p>
                                    <p class="card-text text-muted" style="font-size: 14px;"><strong>Roles
                                            Autorizados:</strong> Administrador</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Módulo de Almacén -->
                <div class="col-md-6 mb-4">
                    <a href="{{ url_for('transaccional.almacen') }}" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body d-flex align-items-center">
                                <div class="bg-light p-3 rounded-circle me-3">
                                    <i class="fas fa-warehouse text-purple" style="font-size: 24px;"></i>
                                </div>
                                <div>
                                    <h5 class="card-title text-gray-500" style="font-size: 14px;">Módulo de Almacén</h5>
                                    <p class="card-text text-muted text-sm text-gray-500">Controla el inventario y la
                                        logística de almacén.</p>
                                    <p class="card-text text-muted" style="font-size: 14px;"><strong>Roles
                                            Autorizados:</strong> Administrador</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Sistema Contable -->
        <div class="tab-pane fade fade-lazy" id="siscon">
            <div class="mb-4">
                <div class="line-with-text">
                    <span>Detalles</span>
                </div>
                <p class="text-muted" style="font-size: 14px;">
                    Podrás visualizar el módulo contable de acuerdo al rol del usuario.
                </p>
            </div>

            <!-- Módulo de Cuentas PCGE -->
            <div class="col-md-6 mb-4 mx-auto">
                <a href="{{ url_for('contable.cuentas') }}" class="text-decoration-none text-dark">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="bg-light p-3 rounded-circle me-3">
                                <i class="fas fa-folder text-success" style="font-size: 24px;"></i>
                            </div>
                            <div>
                                <h5 class="card-title text-gray-500" style="font-size: 14px;">Módulo de contabilidad
                                </h5>
                                <p class="card-text text-muted text-sm text-gray-500">Gestiona el control de las
                                    operaciones transaccionales del sistema.</p>
                                <p class="card-text text-muted" style="font-size: 14px;"><strong>Roles
                                        Autorizados:</strong> Contador, Administrador</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    // Intersection Observer para aplicar el efecto lazy load
    document.addEventListener("DOMContentLoaded", function () {
        const lazyElements = document.querySelectorAll(".fade-lazy");

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("visible");
                    observer.unobserve(entry.target);
                }
            });
        }, { threshold: 0.1 });

        lazyElements.forEach(element => {
            observer.observe(element);
        });
    });
</script>

{% endblock %}